<!-- <div class="page-content">
    <div style="height: 157px;">
        <content-top></content-top>
    </div>
    <div class="col-lg-12 col-md-12 xs-12">
        <div class="row">
            <div class="col-sm-6 text-center" style="height: 450px;border-style: solid; padding: 10px;font-size: 50px;">

                <br><br><br><span>ชื่อ : {{profile.name}}</span> <br><br><br><span>เพศ : {{profile.sex}}</span> <br><br><br><span>อายุ : {{profile.age}}</span>
            </div>
            <div class="col-sm-6 text-center" style="height: 450px;border-style: solid; padding: 10px;font-size: 14px;">

                <br><br><br> <span>{{results}}</span>
            </div>
        </div>

    </div>

    <div>
        <button ng-click="logout()" class="btn btn-danger" style="top:800px;
    left: 83px;
    width: 545px;
    height: 200px;position: absolute;font-size: 70px">ออกจากระบบ</button>
    </div>

    <div>
        <button ng-click="recheckAll()" class="btn btn-warning" style="top: 800px;
    left: 683px;
    width: 545px;
    height: 200px;position: absolute;font-size: 70px">ตรวจวัดใหม่</button></div>

    <div>
        <button ng-click="profilePage()" class="btn btn-success" style="top: 800px;
    left: 1282px;
    width: 545px;
    height: 200px;position: absolute;font-size: 70px">ข้อมูลผู้ใช้</button>
    </div>
</div> -->
<style>
    @font-face {
        font-family: 'Prompt';
        src: url('app/pages/fonts/Prompt/Prompt-Regular.ttf');

    }

    .background-results {
        top: 0px;
        margin: 0px;
        padding: 0px;
        height: 1080px;
        width: 1920px;
        opacity: 1;
        background-image: url(assets/kiosk/results/bg_profile.jpg);
        position: absolute;
    }

    .profile-results {
        top: 128px;
        left: 169px;
        width: 421px;
        height: 421px;
        opacity: 1;
        background-image: url(assets/kiosk/results_unknown/profile.svg);
        position: absolute;
    }

    .btn-red {
        top: 884px;
        left: 151px;
        width: 471px;
        height: 108px;
        opacity: 1;
        position: absolute;
        cursor: pointer;
        background-image: url(assets/kiosk/bt_cancel.svg);
        font-family: 'Prompt', sans-serif;
        font-size: 45px;
        color: #ffffff;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }

    .btn-yellow {
        top: 884px;
        left: 725px;
        width: 471px;
        height: 107px;
        opacity: 1;
        position: absolute;
        cursor: pointer;
        background-image: url(assets/kiosk/bt_repeat.svg);
        font-family: 'Prompt', sans-serif;
        font-size: 45px;
        color: #ffffff;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }

    .btn-green {
        top: 884px;
        left: 1298px;
        width: 471px;
        height: 107px;
        opacity: 1;
        position: absolute;
        cursor: pointer;
        background-image: url(assets/kiosk/bt_ok.svg);
        font-family: 'Prompt', sans-serif;
        font-size: 45px;
        color: #ffffff;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }

    .btn-wel {
        top: 37px;
        left: 1665px;
        width: 87px;
        height: 87px;
        /* background: #6DC3C6 0% 0% no-repeat padding-box; */
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/icon_wel_2b.svg);
        background-position: center;
        /* cursor: pointer; */
        border-radius: 40px;
    }

    .btn-admin {
        top: 37px;
        left: 1782px;
        width: 87px;
        height: 87px;
        /* background: #6DC3C6 0% 0% no-repeat padding-box; */
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/auth/icon_admin_log.svg);
        cursor: pointer;
    }


    .btn-icon-check-1 {
        top: 343px;
        left: 738px;
        width: 66px;
        height: 66px;
        /* background: #6DC3C6 0% 0% no-repeat padding-box; */
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/results/icon_check_1.svg);
        cursor: pointer;
    }

    .btn-icon-check-2 {
        top: 454px;
        left: 738px;
        width: 66px;
        height: 66px;
        /* background: #6DC3C6 0% 0% no-repeat padding-box; */
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/results/icon_check_2.svg);
        cursor: pointer;
    }

    .btn-icon-check-3 {
        top: 626px;
        left: 742px;
        width: 66px;
        height: 66px;
        /* background: #6DC3C6 0% 0% no-repeat padding-box; */
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/results/icon_check_3.svg);
        cursor: pointer;
    }

    .btn-icon-check-4 {
        top: 747px;
        left: 742px;
        width: 66px;
        height: 66px;
        /* background: #6DC3C6 0% 0% no-repeat padding-box; */
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/results/icon_check_4.svg);
        cursor: pointer;
    }

    .box-text-head {
        top: 60px;
        left: 742px;
        width: 517px;
        height: 68px;
        text-align: center;
        letter-spacing: 0px;
        color: #054445;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        /* font-weight: bold; */
        font-size: 45px;
    }

    .box-text-name {
        top: 134px;
        left: 743px;
        width: 730px;
        height: 98px;
        text-align: center;
        letter-spacing: 0px;
        color: #009393;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 65px;
    }

    .box-text-heart {
        top: 370px;
        left: 826px;
        width: 316px;
        height: 53px;
        text-align: center;
        letter-spacing: 0px;
        color: #0F6D6E;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 35px;
    }

    .box-text-blood-top {
        top: 481px;
        left: 826px;
        width: 358px;
        height: 53px;
        text-align: center;
        letter-spacing: 0px;
        color: #0F6D6E;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 35px;
    }

    .box-text-blood-down {
        top: 546px;
        left: 826px;
        width: 372px;
        height: 53px;
        text-align: center;
        letter-spacing: 0px;
        color: #0F6D6E;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 35px;
    }

    .box-text-oxygen {
        top: 655px;
        left: 830px;
        width: 544px;
        height: 53px;
        text-align: center;
        letter-spacing: 0px;
        color: #0F6D6E;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 35px;
    }

    .box-text-temp {
        top: 778px;
        left: 830px;
        width: 290px;
        height: 53px;
        text-align: center;
        letter-spacing: 0px;
        color: #0F6D6E;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 35px;
    }

    .box-text-date {
        top: 215px;
        left: 742px;
        width: 536px;
        height: 53px;
        text-align: center;
        letter-spacing: 0px;
        color: #009393;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        /* font-weight: bold; */
        font-size: 35px;
    }

    .box-text-id-number {
        top: 800px;
        left: 207px;
        width: 182px;
        height: 68px;
        text-align: center;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        /* font-weight: bold; */
        font-size: 45px;
    }

    .box-text-sex {
        top: 685px;
        left: 142px;
        width: 188px;
        height: 75px;
        text-align: center;
        letter-spacing: 0px;
        color: #6C7474;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        /* font-weight: bold; */
        font-size: 50px;
    }

    .box-text-age {
        top: 685px;
        left: 410px;
        width: 207px;
        height: 75px;
        text-align: center;
        letter-spacing: 0px;
        color: #6C7474;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        /* font-weight: bold; */
        font-size: 50px;
    }

    .btn-line {
        top: 658px;
        left: 366px;
        width: 0px;
        height: 68px;
        opacity: 1;
        position: absolute;
        border: 1px solid #29BCBD;
        opacity: 1;
        position: absolute;

    }


    .box1 {
        top: 200px;
        left: 134px;
        width: 790px;
        height: 500px;
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 4px 4px 19px #6D6E7073;
        border-radius: 64px;
        opacity: 1;
        position: absolute;
        /* background-image: url(assets/kiosk/auth/bt_log_3.svg) */
        font-family: 'Prompt', sans-serif;
        font-size: 50px;
        color: black;
        /* display: flex; */
        justify-content: center;
        align-items: center;
    }

    .box2 {
        top: 200px;
        right: 145px;
        width: 790px;
        height: 500px;
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 4px 4px 19px #6D6E7073;
        border-radius: 64px;
        opacity: 1;
        position: absolute;
        /* background-image: url(assets/kiosk/auth/bt_log_3.svg) */
        font-family: 'Prompt', sans-serif;
        font-size: 50px;
        color: black;
        /* display: flex; */
        justify-content: center;
        align-items: center;
    }
</style>
<div class="page-content">
    <div class="background-results"></div>
    <!-- <div class="logo"></div> -->
    <div class="box-text-header">
        <p class="text-header">
            {{ activePageTitle }}
        </p>
    </div>

    <div class="profile-results"></div>

    <div class="btn-wel"></div>
    <div class="btn-admin" ng-click="authen_adminByResults()"></div>

    <!-- <div class="box1"> <br><br><br><span>ชื่อ : {{profile.name}}</span><br><br><br><span>เพศ : {{profile.sex}}</span><br><br><br><span>อายุ : {{profile.age}}</span></div> -->
    <!-- <div class="box2"> <br><br><br>
        <p>{{results}}</p>
    </div> -->

    <div class="box-text-head">
        การตรวจสุขภาพของวันนี้
    </div>
    <div class="box-text-name">
        คุณ...
    </div>
    <div class="box-text-date">
        เมื่อวันที่ : วัน/เดือน/ปี, เวลา 00.00
    </div>

    <div class="box-text-heart">
        อัตราการเต้นหัวใจ >
    </div>
    <div class="box-text-blood-top">
        ความดันโลหิต ตัวบน >
    </div>
    <div class="box-text-blood-down">
        ความดันโลหิต ตัวล่าง >
    </div>
    <div class="box-text-oxygen">
        ความอิ่มตัวของออกซิเจนในเลือด >
    </div>
    <div class="box-text-temp">
        อุณหภูมิร่างกาย >
    </div>

    <div class="box-text-sex">
        เพศ
    </div>
    <!-- <div class="btn-line"></div> -->
    <div class="box-text-age">
        อายุ
    </div>
    <div class="box-text-id-number">
        เลขที่ผู้ใช้
    </div>

    <div class="btn-icon-check-1"></div>
    <div class="btn-icon-check-2"></div>
    <div class="btn-icon-check-3"></div>
    <div class="btn-icon-check-4"></div>


    <div class="btn-red " ng-click="logout()">
        ออกจากระบบ

    </div>
    <!-- <div class="btn-yellow " ng-click="detailByProfile()">
        ดูรายละเอียด
    </div> -->

    <div class="btn-green " ng-click="recheckAll() ">
        ตรวจวัดอีกครั้ง
    </div>
</div>