<div class="widgets">

    <div class="row DisplayDevice">
        <div class="row">
            <div ng-include="'app/pages/staff_card_regis/widgets/DisplayDevice.html'"></div>
        </div>
    </div>
    <div class="row Loading" style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/staff_card_regis/widgets/Loading.html'"></div>
        </div>
    </div>
    <div class="row Loading_card" style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/staff_card_regis/widgets/Loading_card.html'"></div>
        </div>
    </div>
    <div class="row Success" style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/staff_card_regis/widgets/Success.html'"></div>
        </div>
    </div>
    <div class="row UnSuccess" style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/staff_card_regis/widgets/UnSuccess.html'"></div>
        </div>
    </div>
    <div class="row Condition" style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/staff_card_regis/widgets/Condition.html'"></div>
        </div>
    </div>

    <div class="row staff_numpad" style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/staff_card_regis/widgets/staff_numpad.html'"></div>
        </div>
    </div>

    <div class="row Confirm_face" style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/staff_card_regis/widgets/Confirm_face.html'"></div>
        </div>
    </div>
    <!-- <div class="row ResultDevice" style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/idcard/widgets/ResultDevice.html'"></div>
        </div>
    </div> -->


</div>