<div class="widgets">

    <div class="row DisplayDevice">
        <div class="row">
            <div ng-include="'app/pages/idcard/widgets/DisplayDevice.html'"></div>
        </div>
    </div>
    <div class="row Loading" style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/idcard/widgets/Loading.html'"></div>
        </div>
    </div>
    <div class="row ResultDevice" style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/idcard/widgets/ResultDevice.html'"></div>
        </div>
    </div>
    <div class="row Condition"style="display: none;">
        <div class="row" >
            <div ng-include="'app/pages/idcard/widgets/Condition.html'"></div>
        </div>
    </div>
    <div class="row Confirm"style="display: none;">
        <div class="row" >
            <div ng-include="'app/pages/idcard/widgets/Confirm.html'"></div>
        </div>
    </div>

    <div class="row error_idcard"style="display: none;">
        <div class="row" >
            <div ng-include="'app/pages/idcard/widgets/error_idcard.html'"></div>
        </div>
    </div>


</div>