<style>
    .loading {
        top: 450px;
        height: 50px;
        width: 100%;
        position: absolute;
        text-align: center;
    }
    
    .lds-ellipsis {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }
    
    .lds-ellipsis div {
        position: absolute;
        top: 33px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: green;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    
    .lds-ellipsis div:nth-child(1) {
        left: 8px;
        animation: lds-ellipsis1 0.6s infinite;
    }
    
    .lds-ellipsis div:nth-child(2) {
        left: 8px;
        animation: lds-ellipsis2 0.6s infinite;
    }
    
    .lds-ellipsis div:nth-child(3) {
        left: 32px;
        animation: lds-ellipsis2 0.6s infinite;
    }
    
    .lds-ellipsis div:nth-child(4) {
        left: 56px;
        animation: lds-ellipsis3 0.6s infinite;
    }
    
    @keyframes lds-ellipsis1 {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }
    
    @keyframes lds-ellipsis3 {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(0);
        }
    }
    
    @keyframes lds-ellipsis2 {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(24px, 0);
        }
    }

    .btn-cancel-loading {
        top: 884px;
        left: 151px;
        width: 471px;
        height: 108px;
        opacity: 1;
        position: absolute;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        background-image: url(assets/kiosk/bt_repeat.svg);
        background-position: center;
        cursor: pointer;
    }

    .box-text-cancel {
        top: 931px;
        left: 321px;
        width: 131px;
        height: 68px;
        text-align: center;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        position: absolute;
        display: flex;
        /* justify-content: center;
        align-items: center; */
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 45px;
        cursor: pointer;

    }
</style>
<div class="loading">


    <h1 style="font-size: 50px;">Loading</h1>
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <h1 style="font-size: 50px;">กำลังอ่านบัตรประชาชน</h1>

    <!-- <div class="btn-cancel-loading" ng-click="Cancel()"></div>
    <div class="box-text-cancel" ng-click="">
        ยกเลิก
    </div> -->







</div>