<div class="widgets">

    <div class="row DisplayDevice"style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/results/widgets/DisplayDevice.html'"></div>
        </div>
    </div>
    <div class="row UnSuccess"style="display: none;">
        <div class="row" >
            <div ng-include="'app/pages/results/widgets/UnSuccess.html'"></div>
        </div>
    </div>

</div>