<style>
	/* @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap'); */

	@font-face {
		font-family: "Prompt";
		src: url("app/pages/fonts/Prompt/Prompt-Regular.ttf");
	}
	.btn-cancel-RFID-01 {
		top: 928px;
		left: 185px;
		width: 471px;
		height: 107px;
		opacity: 1;
		position: absolute;
		background-image: url(assets/kiosk/bt_cancel.svg);
		background-position: center;
		cursor: pointer;
	}
	.box-text-cancel-RFID-01 {
		top: 974px;
		left: 320px;
		width: 131px;
		height: 68px;
		text-align: center;
		letter-spacing: 0px;
		color: #ffffff;
		opacity: 1;
		position: absolute;
		display: flex;
		font-family: "Prompt", sans-serif;
		font-weight: bold;
		font-size: 60px;
		cursor: pointer;
	}
	.box-text-head-TEMP-01 {
		top: 140px;
		left: 555px;
		width: 1500px;
		height: 106px;
		text-align: center;
		letter-spacing: 0px;
		color: #0f6d6e;
		opacity: 1;
		position: absolute;
		display: flex;
		font-family: "Prompt", sans-serif;
		font-weight: bold;
		font-size: 130px;
	}
	.btn-menu-math-sign {
		top: 316px;
		left: 390px;
		width: 856px;
		height: 95px;
		background: #ffffff 0% 0% no-repeat padding-box;
		box-shadow: 0px 3px 20px #0f6d6e33;
		border-radius: 57px;
		opacity: 1;
		position: absolute;
	}
	.box-text-math-sign {
		top: 355px;
		left: 610px;
		width: 600px;
		height: 68px;
		text-align: center;
		letter-spacing: 0px;
		color: #0f6d6e;
		opacity: 1;
		position: absolute;
		display: flex;
		font-family: "Prompt", sans-serif;
		font-weight: bold;
		font-size: 50px;
		cursor: pointer;
	}
	.box-chk-math-sign {
		top: 498px;
		left: 445px;
		width: 200px;
		height: 68px;
		text-align: center;
		letter-spacing: 0px;
		color: #0f6d6e;
		opacity: 1;
		position: absolute;
		display: flex;
		font-family: "Prompt", sans-serif;
		font-weight: bold;
		font-size: 360px;
		cursor: pointer;
	}
	.btn-Minus {
		top: 485px;
		left: 395px;
		width: 300px;
		height: 100px;
		opacity: 1;
		position: absolute;
		background: #ffffff 0% 0% no-repeat padding-box;
		border: 5px solid rgb(99 213 247);
		border-radius: 50px;
		box-shadow: 10px 10px 30px #16626333;
		cursor: pointer;
	}
	.box-text-Minus {
		top: 530px;
		left: 530px;
		width: 455px;
		height: 68px;
		text-align: center;
		letter-spacing: 0px;
		color: #0f6d6e;
		opacity: 1;
		position: absolute;
		display: flex;
		font-family: "Prompt", sans-serif;
		font-weight: bold;
		font-size: 50px;
		cursor: pointer;
	}
	.btn-Plus {
		top: 485px;
		left: 770px;
		width: 300px;
		height: 100px;
		opacity: 1;
		position: absolute;
		background: #ffffff 0% 0% no-repeat padding-box;
		border: 5px solid rgb(99 213 247);
		border-radius: 50px;
		box-shadow: 10px 10px 30px #16626333;
		cursor: pointer;
	}
	.box-text-Plus {
		top: 530px;
		left: 900px;
		width: 455px;
		height: 68px;
		text-align: center;
		letter-spacing: 0px;
		color: #0f6d6e;
		opacity: 1;
		position: absolute;
		display: flex;
		font-family: "Prompt", sans-serif;
		font-weight: bold;
		font-size: 50px;
		cursor: pointer;
	}
	.box-radio-temp-1 {
		top: 505px;
		left: 430px;
		height: 325px;
		text-align: center;
		letter-spacing: 0px;
		color: #0f6d6e;
		opacity: 1;
		position: absolute;
		display: flex;
		font-family: "Prompt", sans-serif;
		font-weight: bold;
		font-size: 50px;
		cursor: pointer;
	}
	.box-radio-temp-2 {
		top: 505px;
		left: 805px;
		height: 325px;
		text-align: center;
		letter-spacing: 0px;
		color: #0f6d6e;
		opacity: 1;
		position: absolute;
		display: flex;
		font-family: "Prompt", sans-serif;
		font-weight: bold;
		font-size: 50px;
		cursor: pointer;
	}
	.input-temp {
		top: 460px;
		left: 1190px;
		width: 100px;
		height: 100px;
		opacity: 1;
		position: absolute;
		background: #ffffff 0% 0% no-repeat padding-box;
		border-radius: 24px;
		opacity: 1;
	}
	.box-text-temp-set {
		top: 700px;
		left: 365px;
		width: 1800px;
		height: 68px;
		text-align: center;
		letter-spacing: 0px;
		color: #ff2323;
		opacity: 1;
		position: absolute;
		display: flex;
		font-family: "Prompt", sans-serif;
		font-weight: bold;
		font-size: 40px;
		cursor: pointer;
	}
</style>
<div class="page-content">
	<div class="btn-set"></div>
	<div class="btn-start" ng-click="ChkSaveTemp()"></div>
	<div class="box-text-start" ng-click="ChkSaveTemp()">ตกลง</div>

	<div class="btn-cancel-Weigh-01" ng-click="Cancel()"></div>
	<div class="box-text-cancel-Weigh-01" ng-click="Cancel()">ยกเลิก</div>
	<div class="box-text-head-TEMP-01">ตั้งค่า อุณหภูมิ</div>

	<div class="btn-menu-math-sign"></div>
	<div class="box-text-math-sign">เปิดใช้งาน / ปิดใช้งาน</div>
	<div class="box-chk-math-sign">
		<input
			class="Setting"
			type="checkbox"
			ng-model="CreateModelTemp.TEMP_ACTIVE_FLAG"
		/>
	</div>

	<div class="btn-Minus"></div>
	<div class="box-text-Minus">ลบ(-)</div>
	<div class="btn-Plus"></div>
	<div class="box-text-Plus">บวก(+)</div>
	<div class="box-radio-temp-1">
		<input
			class="big"
			type="radio"
			ng-model="CreateModelTemp.MATH_SIGN"
			value="0"
			ng-disabled="CreateModelTemp.TEMP_ACTIVE_FLAG"
		/>
	</div>
	<div class="box-radio-temp-2">
		<input
			class="big"
			type="radio"
			ng-model="CreateModelTemp.MATH_SIGN"
			value="1"
			ng-disabled="CreateModelTemp.TEMP_ACTIVE_FLAG"
		/>
	</div>
	<div class="input-temp">
		<input
			class="height"
			style="
				border-radius: 20px;
				text-align: center;
				width: 200px;
				font-size: 70px;
				padding: 1px 20px;
				height: 160px;
			"
			type="text"
			ng-model="CreateModelTemp.TEMP_VALUE"
			maxlength="3"
			ng-disabled="CreateModelTemp.TEMP_ACTIVE_FLAG"
		/>
	</div>
	<div class="box-text-temp-set">
		ค่าอุณหภูมิไม่สามารถกำหนดให้เกิน บวก 10 หรือน้อยกว่า ลบ 10 ได้<br /><br /><br /><br />
		และค่าอุณหภูมิจะเพิ่มหรือลดได้ทีละ 0.5 และทศนิยม 1 ตำแหน่ง
	</div>
</div>
