<style>
    /* @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap'); */

    @font-face {
        font-family: 'Prompt';
        src: url('app/pages/fonts/Prompt/Prompt-Regular.ttf');

    }

    .btn-success {
        top: 84px;
        left: 364px;
        width: 1194px;
        height: 926px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 30px #0F6D6E33;
        border-radius: 57px;
        opacity: 1;
        position: absolute;
        /* background-image: url(assets/kiosk/face/icon-check.svg); */
        background-position: center;
    }
    .box-text-success-up {
        top: 156px;
        left: 801px;
        width: 317px;
        height: 68px;
        text-align: center;
        letter-spacing: 0px;
        color: #7A908F;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-size: 45px;
    }
    .box-text-success {
        top: 244px;
        left: 770px;
        width: 741px;
        height: 114px;
        text-align: center;
        letter-spacing: 0px;
        color: #009393;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 75px;

    }
    .btn-start-green {
        top: 857px;
        left: 725px;
        width: 471px;
        height: 107px;
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/bt_ok.svg);
        background-position: center;
        cursor: pointer;
        background-repeat: no-repeat;
        border-radius: 90px;
    }
    .box-text-start-green {
        top: 906px;
        left: 885px;
        width: 151px;
        height: 68px;
        text-align: center;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 45px;
        cursor: pointer;
    }
    .box-text-unsuccess-timer {
        top: 770px;
        left: 420px;
        width: 1500px;
        height: 68px;
        text-align: center;
        letter-spacing: 0px;
        color: #ff2323;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 45px;
        cursor: pointer;
    }
    .box-text-unsuccess {
        top: 244px;
        left: 770px;
        width: 741px;
        height: 114px;
        text-align: center;
        letter-spacing: 0px;
        color: #ff2323;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 75px;

    }
    .box-text-textfilenotfound-H {
        top: 244px;
        left: 440px;
        width: 1200px;
        height: 114px;
        text-align: center;
        letter-spacing: 0px;
        color: #ff2323;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 75px;

    }
    .box-text-textfilenotfound-D {
        top: 770px;
        left: 780px;
        width: 1500px;
        height: 68px;
        text-align: center;
        letter-spacing: 0px;
        color: #ff2323;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 45px;
        cursor: pointer;
    }
    .box-text-texttimeintervalerror {
        top: 770px;
        left: 680px;
        width: 1500px;
        height: 68px;
        text-align: center;
        letter-spacing: 0px;
        color: #ff2323;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 45px;
        cursor: pointer;
    }
    .box-text-SetWeighing-success {
        top: 244px;
        left: 707px;
        width: 741px;
        height: 114px;
        text-align: center;
        letter-spacing: 0px;
        color: #009393;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 75px;

    }
    .box-text-SetWeighing-unsuccess {
        top: 244px;
        left: 707px;
        width: 741px;
        height: 114px;
        text-align: center;
        letter-spacing: 0px;
        color: #ff2323;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 75px;

    }
</style>
<div class="page-content">
    <div class="btn-success" style="background-image: url({{urlbackgroundimg}});">
    </div>
    <div class="box-text-unsuccess-timer">
        {{texttimererror}}
    </div>
    <div class="box-text-textfilenotfound-D">
        {{textfilenotfound_D}}
    </div>
    <div class="box-text-unsuccess">
        {{textunsuccess}}
    </div>
    <div class="box-text-textfilenotfound-H">
        {{textfilenotfound_H}}
    </div>
    <div class="box-text-success">
        {{textsuccess}}
    </div>
    <div class="box-text-texttimeintervalerror">
        {{texttimeintervalerror}}
    </div>
    <div class="box-text-SetWeighing-success">
        {{textSetWeighingSuccess}}
    </div>
    <div class="box-text-SetWeighing-unsuccess">
        {{textSetWeighingUnSuccess}}
    </div>
    <div class="btn-start-green" ng-click="CancelSetScreen()"></div>
    <div class="box-text-start-green" ng-click="CancelSetScreen()">
        เสร็จสิ้น
    </div>
</div>