<style>
	.background-face-cap {
		margin: 0px;
		padding: 0px;
		height: 1080px;
		width: 1920px;
		/* background-color: #054445; */
		background-image: url(assets/kiosk/devices/bg_main_face_cap.png);
	}

	.box-text-header-ircamera {
		top: 160px;
		left: 753px;
		width: 471px;
		height: 107px;
		font-weight: bold;
		opacity: 1;
		position: absolute;
		font-family: "Prompt", sans-serif;
		font-size: 88px;
		color: #ffffff;
		white-space: nowrap;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
	}
	.camera-loading {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-weight: bold;
		font-family: "Prompt", sans-serif;
		font-size: 50px;
		color: #ffffff;
		position: absolute;
		-webkit-animation: flickerAnimation 3s infinite;
		-moz-animation: flickerAnimation 3s infinite;
		-o-animation: flickerAnimation 3s infinite;
		animation: flickerAnimation 3s infinite;
	}
	@keyframes flickerAnimation {
		0% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	@-o-keyframes flickerAnimation {
		0% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	@-moz-keyframes flickerAnimation {
		0% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	@-webkit-keyframes flickerAnimation {
		0% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	.box-text-number-wait {
		top: 929px;
		left: 772px;
		width: 500px;
		height: 120px;
		text-align: right;
		letter-spacing: 0px;
		color: #ffffff;
		opacity: 1;
		position: absolute;
		display: flex;
		font-family: "Prompt", sans-serif;
		font-weight: bold;
		font-size: 238px;
	}

	.btn-red-dispaly {
		top: 884px;
		left: 151px;
		width: 471px;
		height: 108px;
		/* background: #F16282 0% 0% no-repeat padding-box;
        box-shadow: 4px 4px 19px #6D6E7073;
        border-radius: 64px; */
		opacity: 1;
		position: absolute;
		cursor: pointer;
		background-image: url(assets/kiosk/bt_cancel.svg);
		font-family: "Prompt", sans-serif;
		font-size: 45px;
		color: #ffffff;
		white-space: nowrap;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
	}

	.btn-yellow {
		top: 884px;
		left: 725px;
		width: 471px;
		height: 107px;
		/* background: #FAB762 0% 0% no-repeat padding-box;
        box-shadow: 4px 4px 19px #6D6E7073;
        border-radius: 64px; */
		opacity: 1;
		position: absolute;
		cursor: pointer;
		background-image: url(assets/kiosk/bt_repeat.svg);
		font-family: "Prompt", sans-serif;
		font-size: 45px;
		color: #ffffff;
		white-space: nowrap;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
	}

	.btn-green-display {
		top: 884px;
		left: 1298px;
		width: 471px;
		height: 107px;
		font-weight: bold;
		/* background: #3BA996 0% 0% no-repeat padding-box;
        box-shadow: 4px 4px 19px #6D6E7073;
        border-radius: 64px; */
		opacity: 1;
		position: absolute;
		cursor: pointer;
		background-image: url(assets/kiosk/bt_ok.svg);
		font-family: "Prompt", sans-serif;
		font-size: 45px;
		color: #ffffff;
		white-space: nowrap;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
	}

	.btn-face-cap {
		top: 269px;
		left: 444px;
		width: 960px;
		height: 540px;
		opacity: 1;
		background-image: url(assets/kiosk/devices/face-test1.png);
		position: absolute;
		/* border-style: dashed; */
	}

	#my_camera {
		width: 1280;
		height: 720px;
		/* border: 1px solid black; */
		position: absolute;
		top: 294px;
		left: 482px;
        /* animation: fadeIn ease 10s;
		-webkit-animation: fadeIn ease 10s;
		-moz-animation: fadeIn ease 10s;
		-o-animation: fadeIn ease 10s;
		-ms-animation: fadeIn ease 10s; */
	}
	
</style>
<div class="page-content">
	<div class="background-face-cap"></div>
	<!-- <div class="logo"></div> -->
	<div ng-show="!overlayShow" class="box-text-number-wait">
		<span style="width: 45%; text-align: right"> {{counter}} </span>
	</div>

	<div class="box-text-header-ircamera">ถ่ายรูปใบหน้า โดยกดที่ปุ่ม ถ่ายรูป</div>

	<!-- <div class="btn-thermometer" ng-click=""></div> -->

	<div id="snapshotcencel" class="btn-red-dispaly" ng-click="recheck() ">ยกเลิก</div>
	<!-- <skip-button></skip-button> -->
	<!-- <div id="results"></div> -->
	<div style="transform: scaleX(-1);" id="my_camera"></div>
	<div class="camera-loading" >
		กำลังเตรียมความพร้อมของอุปกรณ์
		<!-- <div class="gif-loading"></div> -->
	</div>
	<!-- <div id="target"></div> -->

	<div  class="btn-face-cap" ng-click=""></div>

	<div id="snapshot" class="btn-green-display" ng-click="start()" value="Take Snapshot">
		ถ่ายรูป
	</div>

	<!-- Webcam.min.js -->
	<!-- <script type="text/javascript" src="assets/webcamjs-master/webcam.js"></script> -->

	<!-- Configure a few settings and attach camera -->
	<script language="JavaScript">
		Webcam.set({
			width: 960,
			height: 540,
			image_format: "jpeg",
			jpeg_quality: 100,
		});
		// Webcam.attach("#my_camera");

		function take_snapshot() {
			// take snapshot and get image data
			Webcam.snap(function (data_uri) {
				// display results in page
				document.getElementById("results").innerHTML =
					'<img src="' + data_uri + '"/>';
				// alert(data_uri)
			});
		}
	</script>

	<!-- <script>
            var sample = document.getElementById("ircamera");
            sample.play();
        </script> -->
		<!-- <audio id="ircamera" src="./assets/kiosk/audio/camera_thermometer.mp3" preload="auto">
			<audio id="countdown" src="./assets/kiosk/audio/countdown_ir.mp3" preload="auto"> -->
</div>
