<style>
    /* @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap'); */

    @font-face {
        font-family: 'Prompt';
        src: url('app/pages/fonts/Prompt/Prompt-Regular.ttf');

    }

    .background-loading-face {
        margin: 0px;
        padding: 0px;
        height: 1080px;
        width: 1920px;
        background-color: #054445;
    }

    .box-text-header-up {
        top: 67px;
        left: 821px;
        width: 416px;
        height: 68px;
        text-align: center;
        letter-spacing: 0px;
        color: #7A908F;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt';
        font-size: 45px;
        /* font: normal normal normal 45px/101px Prompt; */
        /* justify-content: center; */
        align-items: center;

    }

    .box-text-header {
        top: 135px;
        left: 576px;
        width: 878px;
        height: 114px;
        text-align: center;
        letter-spacing: 0px;
        color: #009393;
        opacity: 1;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p.text-header {
        top: 135px;
        left: 576px;
        width: 878px;
        height: 114px;
        text-align: left;
        font: normal normal 600 75px/91px Prompt;
        letter-spacing: 0px;
        color: #009393;
        opacity: 1;
    }

    .btn-success {
        top: 84px;
        left: 364px;
        width: 1194px;
        height: 926px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 30px #0f6d6e33;
        border-radius: 57px;
        opacity: 1;
        position: absolute;
        /* background-image: url(assets/kiosk/face/icon-check.svg); */
        background-position: center;
    }

    .btn-success-icon {
        top: 280px;
        left: 700px;
        width: 500px;
        height: 440px;
        /* background: #FFFFFF 0% 0% no-repeat padding-box; */
        /* box-shadow: 0px 3px 30px #0f6d6e33; */
        border-radius: 57px;
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/face/icon-gun1.png);
        background-position: center;
    }



    .box-text-success {
        top: 205px;
        left: 613px;
        width: 741px;
        height: 114px;
        text-align: center;
        letter-spacing: 0px;
        color: #009393;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 75px;

    }

    /* .btn-line {
        top: 808px;
        left: 380px;
        width: 1164px;
        height: 0px;
        border: 2px solid #ECF0F4;
        opacity: 1;
        position: absolute;
        background-position: center;
        cursor: pointer;
        background-repeat: no-repeat;

    } */

    .btn-back-red {
        top: 858px;
        left: 421px;
        width: 471px;
        height: 107px;
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/bt_cancel.svg);
        background-position: center;
        cursor: pointer;
        background-repeat: no-repeat;
        /* box-shadow: 0px 5px 13px 0px; */
        border-radius: 90px;

    }

    .box-text-back-red {
        top: 906px;
        left: 608px;
        width: 131px;
        height: 68px;
        text-align: center;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        position: absolute;
        display: flex;
        /* justify-content: center;
        align-items: center; */
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 45px;
        cursor: pointer;

    }

    .btn-text-01 {
        top: 750px;
        left: 660px;
        width: 605px;
        height: 220px;
        background: #012C2C 0% 0% no-repeat padding-box;
        border-radius: 30px;
        opacity: 1;
        position: absolute;
        background-position: center;
    }

    .box-text-number-wait-01 {
        top: 850px;
        left: 715px;
        width: 500px;
        height: 120px;
        text-align: right;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 238px;

    }

    .box-text-unit-01 {
        top: 880px;
        left: 1010px;
        width: 120px;
        height: 80px;
        text-align: center;
        letter-spacing: 0px;
        color: #37B34A;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 100px;

    }
</style>
<div class="page-content">
    <!-- <div class="background-loading-face"> -->

    <!-- <div class="box-text-header-up">
        สำหรับเจ้าหน้าที่
    </div> -->
    <!-- <div class="logo"></div> -->
    <!-- <div class="box-text-header">
        <p class="text-header">
            {{ activePageTitle }}
        </p>
    </div> -->

    <div class="btn-success" ng-click="">
    </div>

    <div class="btn-success-icon" ng-click="">
    </div>

    <div class="box-text-success">
        ใช้ปืนวัดอุณภูมิหน้าผาก
    </div>

    <!-- <div class="btn-back-red" ng-click="Cancel()"></div>
    <div class="box-text-back-red" ng-click="Cancel()">
        ยกเลิก
    </div> -->

    <!-- <div class="btn-line"></div> -->

    <div class="btn-text-01">
    </div>
    <div class="box-text-number-wait-01">
        <span style="width: 45%;text-align: right;"> {{guncounter}} </span>
    </div>
    <div class="box-text-unit-01">
        วินาที
    </div>



</div>