<style>
    .result {
        top: 450px;
        height: 450px;
        width: 100%;
        position: absolute;
        text-align: center;
    }
    
    .result-text {
        font-size: 50px;
        font-family: 'Prompt', sans-serif;
    }
    
    .btn-red {
        top: 884px;
        left: 151px;
        width: 471px;
        height: 108px;
        /* background: #F16282 0% 0% no-repeat padding-box;
        box-shadow: 4px 4px 19px #6D6E7073;
        border-radius: 64px; */
        opacity: 1;
        position: absolute;
        cursor: pointer;
        background-image: url(assets/kiosk/bt_cancel.svg);
        font-family: 'Prompt', sans-serif;
        font-size: 45px;
        color: #ffffff;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .btn-yellow {
        top: 884px;
        left: 725px;
        width: 471px;
        height: 107px;
        /* background: #FAB762 0% 0% no-repeat padding-box;
        box-shadow: 4px 4px 19px #6D6E7073;
        border-radius: 64px; */
        opacity: 1;
        position: absolute;
        cursor: pointer;
        background-image: url(assets/kiosk/bt_repeat.svg);
        font-family: 'Prompt', sans-serif;
        font-size: 45px;
        color: #ffffff;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .btn-green {
        top: 884px;
        left: 1298px;
        width: 471px;
        height: 107px;
        /* background: #3BA996 0% 0% no-repeat padding-box;
        box-shadow: 4px 4px 19px #6D6E7073;
        border-radius: 64px; */
        opacity: 1;
        position: absolute;
        cursor: pointer;
        background-image: url(assets/kiosk/bt_ok.svg);
        font-family: 'Prompt', sans-serif;
        font-size: 45px;
        color: #ffffff;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<div class="page-content">
    <div class="logo"></div>
    <div class="box-text-header">
        <p class="text-header">
            {{ activePageTitle }}
        </p>
    </div>

    <div class="result">
        <h1 class="result-text"> น้ำหนักที่วัดได้ {{weight}} กิโลกรัม</h1>
    </div>





    <!-- <stop-button></stop-button>

    <div class="btn-yellow" ng-click="recheck()">
        ทำซ้ำ
    </div>
    <next-button></next-button> -->


</div>