<style>
    /* @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap'); */

    @font-face {
        font-family: 'Prompt';
        src: url('app/pages/fonts/Prompt/Prompt-Regular.ttf');

    }

    .background-loading-face {
        margin: 0px;
        padding: 0px;
        height: 1080px;
        width: 1920px;
        background-color: #054445;
    }

    .box-text-header-up {
        top: 67px;
        left: 821px;
        width: 416px;
        height: 68px;
        text-align: center;
        letter-spacing: 0px;
        color: #7A908F;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt';
        font-size: 45px;
        /* font: normal normal normal 45px/101px Prompt; */
        /* justify-content: center; */
        align-items: center;

    }

    .box-text-header {
        top: 135px;
        left: 576px;
        width: 878px;
        height: 114px;
        text-align: center;
        letter-spacing: 0px;
        color: #009393;
        opacity: 1;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p.text-header {
        top: 135px;
        left: 576px;
        width: 878px;
        height: 114px;
        text-align: left;
        font: normal normal 600 75px/91px Prompt;
        letter-spacing: 0px;
        color: #009393;
        opacity: 1;
    }

    .pic>img {
        top: 310px;
        left: 545px;
        width: 830px;
        /* height: 244px; */
        border: 2px solid #ECF0F4;
        opacity: 1;
        position: absolute;
        background-position: center;
        cursor: pointer;
        background-repeat: no-repeat;
    }

    .box-text-success-up {
        top: 156px;
        left: 801px;
        width: 317px;
        height: 68px;
        text-align: center;
        letter-spacing: 0px;
        color: #7A908F;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        /* font-weight: bold; */
        font-size: 45px;

    }

    .box-text-success-01 {
        top: 244px;
        left: 690px;
        width: 574px;
        height: 114px;
        text-align: center;
        letter-spacing: 0px;
        color: #009393;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 75px;

    }

    .btn-line {
        top: 808px;
        left: 380px;
        width: 1164px;
        height: 0px;
        border: 2px solid #ECF0F4;
        opacity: 1;
        position: absolute;
        background-position: center;
        cursor: pointer;
        background-repeat: no-repeat;

    }

    .btn-back-red-01 {
        top: 858px;
        left: 421px;
        width: 471px;
        height: 107px;
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/bt_cancel.svg);
        background-position: center;
        cursor: pointer;
        background-repeat: no-repeat;
        /* box-shadow: 0px 5px 13px 0px; */
        border-radius: 90px;

    }

    .box-text-back-red-01 {
        top: 906px;
        left: 608px;
        width: 131px;
        height: 68px;
        text-align: center;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        position: absolute;
        display: flex;
        /* justify-content: center;
        align-items: center; */
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 45px;
        cursor: pointer;

    }

    .btn-start-green-01 {
        top: 858px;
        left: 1034px;
        width: 471px;
        height: 107px;
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/bt_ok.svg);
        background-position: center;
        cursor: pointer;
        background-repeat: no-repeat;
        /* box-shadow: 0px 5px 13px 0px; */
        border-radius: 90px;

    }

    .box-text-start-green-01 {
        top: 906px;
        left: 1155px;
        width: 252px;
        height: 68px;
        text-align: center;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        position: absolute;
        display: flex;
        /* justify-content: center;
        align-items: center; */
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 45px;
        cursor: pointer;

    }
</style>
<div class="page-content">
    <!-- <div class="background-loading-face"> -->

    <!-- <div class="box-text-header-up">
        สำหรับเจ้าหน้าที่
    </div> -->
    <!-- <div class="logo"></div> -->
    <!-- <div class="box-text-header">
        <p class="text-header">
            {{ activePageTitle }}
        </p>
    </div> -->

    <div ng-bind-html="results" class="pic"></div>

    <div class="box-text-success-up">
        ผลการดำเนินการ
    </div>

    <div class="box-text-success-01">
        สแกนใบหน้าสำเร็จ
    </div>

    <div class="btn-line"></div>

    <div class="btn-back-red-01" ng-click="Cancel()"></div>
    <div class="box-text-back-red-01" ng-click="Cancel()">
        ยกเลิก
    </div>

    <div class="btn-start-green-01" ng-click="Next()"></div>
    <div class="box-text-start-green-01" ng-click="Next()">
        ดำเนินการต่อ
    </div>
</div>