<!-- Video Background -->
<div id="video_container"></div>
<div id="video_cover"></div>
<div id="overlay"></div>
<!-- Title & Download Button -->
<header class="d-flex align-items-center">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">Background Video</h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5">Fullscreen HTML5 Background video playlist</h2>
      <a class="btn btn-primary" href="https://github.com/d0tm0t/background-video">
        <i class="fas fa-download"></i> DOWNLOAD</a>
    </div>
  </div>
</header>