<style>
    @font-face {
        font-family: 'Prompt';
        src: url('app/pages/fonts/Prompt/Prompt-ExtraLight.ttf');

    }

    .al-main {
        background-image: url(assets/kiosk/home/bg.svg) !important;
    }

    .page-content {
        height: 100%;
        width: 100%;
    }

    .btn-start {
        top: 923px;
        left: 631px;
        width: 931px;
        height: 107px;
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/home/bt_wel.svg);
        cursor: pointer;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        background-repeat: no-repeat;
    }

    .logo {
        top: 35px;
        left: 91px;
        width: 340px;
        height: 134px;
        background: transparent url(assets/kiosk/home/icon_logo.svg) 0% 0% no-repeat padding-box;
        opacity: 1;
        position: absolute;
    }

    .home-text {
        top: 143px;
        left: 1420px;
        width: 416px;
        height: 47px;
        text-align: center;
        font: normal normal medium 31px/31px Prompt;
        letter-spacing: 0.78px;
        color: #F9FAFB;
        text-transform: uppercase;
        opacity: 1;
        position: absolute;
        font-family: 'Prompt', sans-serif;
        font-size: 31px;
        white-space: nowrap;
        padding-top: 12px;
        font-weight: bold;
    }

    .point-text {
        top: 150px;
        left: 1423px;
        width: 9px;
        height: 32px;
        background: #FAB84D 0% 0% no-repeat padding-box;
        border-radius: 5px;
        opacity: 1;
        position: absolute;
    }

    .box-text-start {
        top: 958px;
        left: 838px;
        width: 245px;
        height: 68px;
        text-align: center;
        font: normal normal medium 31px/31px Prompt;
        letter-spacing: 0.78px;
        color: #F9FAFB;
        text-transform: uppercase;
        opacity: 1;
        position: absolute;
        font-family: 'Prompt', sans-serif;
        font-size: 45px;
        white-space: nowrap;
        padding-top: 12px;
        font-weight: bold;
        cursor: pointer;
        position: absolute
    }

    /* .slide {
        top: 247px;
        left: -1231.953125px;
        width: 4509px;
        height: 435px;
        opacity: 1;
        position: absolute;
    } */

    .btn-admin-below {
        top: 37px;
        left: 1782px;
        width: 87px;
        height: 87px;
        /* background: #6DC3C6 0% 0% no-repeat padding-box; */
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/auth/icon_admin_log.svg);
        cursor: pointer;
    }

    .btn-wel {
        top: 37px;
        left: 1665px;
        width: 87px;
        height: 87px;
        /* background: #6DC3C6 0% 0% no-repeat padding-box; */
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/icon_wel_2b.svg);
        background-position: center;
        /* cursor: pointer; */
        border-radius: 40px;
    }

    input.sound[type="checkbox"] {
        width: 87px;
        height: 87px;
        top: 37px;
        left: 1665px;
        position: absolute;
        margin: 0;
        border: 0 none;
        padding: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        box-shadow: -1px 1px 50px -17px;
        border-radius: 44px;
    }

    input.sound[type="checkbox"]:before {
        content: url(assets/kiosk/wel/icon_wel_2.svg);
        display: block;
        width: 87px;
        height: 87px;
        overflow: hidden;
    }

    input.sound[type="checkbox"]:checked:before {
        content: url(assets/kiosk/wel/icon_wel_2b.svg);
    }

    input:focus {
        opacity: 1;
        outline: none;
    }


    .btn-line-display {
        top: 43px;
        left: 1624px;
        width: 0px;
        height: 78px;
        border: 2px solid #FFFFFF;
        opacity: 1;
        position: absolute;

    }

    .btn-th {
        top: 46px;
        left: 1386px;
        width: 79px;
        height: 79px;
        /* background: #6DC3C6 0% 0% no-repeat padding-box; */
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/auth/bt_th_a-1.svg);
        background-position: center;
        /* cursor: pointer; */
        border-radius: 40px;
    }

    .btn-eng {
        top: 43px;
        left: 1505px;
        width: 79px;
        height: 79px;
        /* background: #6DC3C6 0% 0% no-repeat padding-box; */
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/auth/bt_en_b.svg);
        background-position: center;
        /* cursor: pointer; */
        border-radius: 40px;
    }
</style>

<div class="page-content">
    <div class="logo"></div>
    <div class="point-text"></div>
    <div class="home-text">ตู้ตรวจสุขภาพด้วยตนเอง</div>
    <div class="slide">
        <style>
            * {
                box-sizing: border-box;
            }

            body {
                font-family: Verdana, sans-serif;
            }

            .mySlides {
                display: none;
            }

            img {
                vertical-align: middle;
            }

            /* Slideshow container */

            .slideshow-container {
                top: 220px;
    left: 305px;
    width: 1310px;
                height: 289px;
                opacity: 1;
                position: absolute;
            }

            /* Caption text */

            .text {
                color: #f2f2f2;
                font-size: 15px;
                padding: 8px 12px;
                position: absolute;
                bottom: 8px;
                width: 100%;
                font-family: 'Prompt', sans-serif;
                font-size: 108px;
                text-align: center;
                letter-spacing: 2.7px;
                color: #F9FAFB;
                text-transform: uppercase;
                opacity: 1;
                white-space: nowrap;
                font-weight: bold;
            }

            .text-blue {
                font-size: 83px;
                padding: 142px 12px;
                position: absolute;
                bottom: 8px;
                width: 0%;
                font-family: 'Prompt', sans-serif;
                text-align: center;
                letter-spacing: 2.7px;
                color: #BCEFF0;
                text-transform: uppercase;
                opacity: 1;
                white-space: nowrap;
                font-weight: bold;
            }

            .text-yellow-1 {
                font-size: 83px;
                padding: 142px 12px;
                position: absolute;
                bottom: 8px;
                width: 150%;
                font-family: 'Prompt', sans-serif;
                text-align: center;
                letter-spacing: 2.7px;
                color: #FCB560;
                text-transform: uppercase;
                opacity: 1;
                white-space: nowrap;
            }

            .text-yellow-2 {
                font-size: 83px;
                padding: 142px 12px;
                position: absolute;
                bottom: 8px;
                width: 0%;
                font-family: 'Prompt', sans-serif;
                text-align: center;
                letter-spacing: 2.7px;
                color: #FCB560;
                text-transform: uppercase;
                opacity: 1;
                white-space: nowrap;
            }

            .text-yellow-3 {
                font-size: 83px;
                padding: 142px 12px;
                position: absolute;
                bottom: 8px;
                width: 170%;
                font-family: 'Prompt', sans-serif;
                text-align: center;
                letter-spacing: 2.7px;
                color: #FCB560;
                text-transform: uppercase;
                opacity: 1;
                white-space: nowrap;
                font-weight: bold;
            }

            /* Number text (1/3 etc) */

            .numbertext {
                color: #f2f2f2;
                font-size: 12px;
                padding: 8px 12px;
                position: absolute;
                top: 0;
            }

            /* The dots/bullets/indicators */

            .dot {
                width: 23px;
                height: 23px;
                margin: 0 5.5px;
                background-color: #738B80;
                border-radius: 50%;
                display: inline-block;
                transition: background-color 0.6s ease;
                vertical-align: middle;
            }

            .active {
                width: 34px;
                height: 34px;
                background: #FCB560 0% 0% no-repeat padding-box;
            }

            /* Fading animation */

            .fade {
                -webkit-animation-name: fade;
                -webkit-animation-duration: 1.5s;
                animation-name: fade;
                animation-duration: 1.5s;
            }

            @-webkit-keyframes fade {
                from {
                    opacity: .4
                }

                to {
                    opacity: 1
                }
            }

            @keyframes fade {
                from {
                    opacity: .4
                }

                to {
                    opacity: 1
                }
            }

            /* On smaller screens, decrease text size */

            @media only screen and (max-width: 300px) {
                .text {
                    font-size: 11px
                }
            }

            #foobar {
                display: none
            }
        </style>
        <div class="slideshow-container">

            <div class="mySlides fade">
                <!-- <div class="numbertext">1 / 3</div> -->
                <!-- <img src="assets/kiosk/home/icon_logo.svg" style="width:100%;margin-top: -20px;"> -->
                <img src="assets/kiosk/home/image1.png" style="width:100%;margin-top: -20px; border-radius: 15px;">
                <!-- <div class="text">Caption Text</div> -->
            </div>
            <div class="mySlides fade">
                <!-- <div class="numbertext">1 / 3</div> -->
                <!-- <img src="assets/kiosk/home/icon_logo.svg" style="width:100%;margin-top: -20px;"> -->
                <img src="assets/kiosk/home/image2.png" style="width:100%;margin-top: -20px;border-radius: 15px;">
                <!-- <div class="text">Caption Text</div> -->
            </div>
            <div class="mySlides fade">
                <!-- <div class="numbertext">1 / 3</div> -->
                <!-- <img src="assets/kiosk/home/icon_logo.svg" style="width:100%;margin-top: -20px;"> -->
                <img src="assets/kiosk/home/image3.png" style="width:100%;margin-top: -20px;border-radius: 15px;">
                <!-- <div class="text">Caption Text</div> -->
            </div>
            <!-- <div class="mySlides fade">
                <div class="numbertext">2 / 3</div>
                <img src="https://www.w3schools.com/howto/img_mountains_wide.jpg" style="width:100%">
                <div class="text-blue">สุขภาพที่ดี</div>
                <div class="text-yellow-1">เราสร้างได้เพียง..</div>
                <div class="text">รู้จักสุขภาพตัวเอง</div>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">3 / 3</div>
                <img src="https://www.w3schools.com/howto/img_snow_wide.jpg" style="width:100%">
                <div class="text-yellow-2">สะดวกตรวจเพียง</div>
                <div class="text-yellow-3"> กด”เริ่ม”</div>
                <div class="text" style="    right: 130px;">และติดตามสุขภาพได้เสมอ</div>
            </div> -->

        </div>
        <br>

        <div style="text-align:center;position: absolute;top: 840px;left: 895px;">
            <span class="dot" style="margin-left:0px;"></span>
            <span class="dot"></span>
            <span class="dot" style="margin-right:0px;"></span>
        </div>

        <script>
            var slideIndex = 0;
            showSlides();

            function showSlides() {
                var i;
                var slides = document.getElementsByClassName("mySlides");
                var dots = document.getElementsByClassName("dot");
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                slideIndex++;
                if (slideIndex > slides.length) {
                    slideIndex = 1
                }
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                }
                slides[slideIndex - 1].style.display = "block";
                dots[slideIndex - 1].className += " active";
                setTimeout(showSlides, 5000); // Change image every 2 seconds
            }
        </script>


    </div>



    <div id="start" class="btn-start"  ng-click="authenPage()"></div>
    <div class="box-text-start" ng-click="authenPage()">เริ่มเข้าใช้งาน</div>

    <div class="btn-admin-below" ng-click="authen_adminByHome()"></div>
    <!-- <div class="btn-wel"></div> -->

    <div ng-click="OnOffAudio()">
        <input type="checkbox" class="sound" ng-model="chkaudio">
    </div>



    <div class="btn-line-display"></div>
    <div class="btn-eng"></div>
    <div class="btn-th"></div>

    <audio id="display" src="./assets/kiosk/audio/welcome.mp3" preload="auto">

        <script>
            var sample = document.getElementById("display");
            sample.play();

            document.getElementById('display').addEventListener('ended', myHandler, false);
            function myHandler(e) {
                console.log('ended');
                setTimeout(function () {
                    document.getElementById('display').play();
                }, 10000);
            }
        </script>

</div>