<style>
    /* @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap'); */

    @font-face {
        font-family: 'Prompt';
        src: url('app/pages/fonts/Prompt/Prompt-Regular.ttf');

    }

    .video {
        top: 200px;
        height: 450px;
        width: 100%;
        position: absolute;
    }

    .box-text-header-up {
        top: 67px;
        left: 821px;
        width: 416px;
        height: 68px;
        text-align: center;
        letter-spacing: 0px;
        color: #7A908F;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt';
        font-size: 45px;
        /* font: normal normal normal 45px/101px Prompt; */
        /* justify-content: center; */
        align-items: center;

    }

    .box-text-header {
        top: 110px;
        left: 576px;
        width: 878px;
        height: 114px;
        text-align: center;
        letter-spacing: 0px;
        color: #009393;
        opacity: 1;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p.text-header {
        top: 135px;
        left: 576px;
        width: 763px;
        height: 114px;
        text-align: left;
        font: normal normal 600 75px/91px Prompt;
        letter-spacing: 0px;
        color: #009393;
        opacity: 1;
    }

    .btn-cancel {
        top: 884px;
        left: 151px;
        width: 471px;
        height: 108px;
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/bt_cancel.svg);
        background-position: center;
        cursor: pointer;
    }

    .box-text-cancel {
        top: 931px;
        left: 321px;
        width: 131px;
        height: 68px;
        text-align: center;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        position: absolute;
        display: flex;
        /* justify-content: center;
        align-items: center; */
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 45px;
        cursor: pointer;

    }

    .btn-repeat {
        top: 884px;
        left: 725px;
        width: 471px;
        height: 107px;
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/bt_repeat.svg);
        background-position: center;
        cursor: pointer;
    }

    .box-text-repeat {
        top: 931px;
        left: 871px;
        width: 178px;
        height: 68px;
        text-align: center;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        position: absolute;
        display: flex;
        /* justify-content: center;
        align-items: center; */
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 45px;
        cursor: pointer;

    }

    .btn-start {
        top: 884px;
        left: 1298px;
        width: 471px;
        height: 107px;
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/bt_ok.svg);
        background-position: center;
        cursor: pointer;
    }

    .btn-loading {
        top: 350px;
        left: 1306px;
        width: 182px;
        height: 182px;
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/spinner.svg);
        background-position: center;
        cursor: pointer;
    }

    .box-text-start {
        top: 931px;
        left: 1462px;
        width: 181px;
        height: 68px;
        text-align: center;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        position: absolute;
        display: flex;
        /* justify-content: center;
        align-items: center; */
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 45px;
        cursor: pointer;

    }

    .btn-face {
        top: 52px;
        left: 103px;
        width: 1714px;
        height: 805px;
        opacity: 1;
        background-image: url(assets/kiosk/face_regis.png);
        position: absolute;
        left: 244px;
        width: 1431px;
        border-radius: 20px;
    }
</style>
<div class="page-content">
    <!-- <div class="box-text-header-up">
        สำหรับเจ้าหน้าที่   
    </div> -->
    <!-- <div class="logo"></div> -->
    <div class="box-text-header">
        <p class="text-header">
            {{ activePageTitle }}
        </p>
    </div>
    <div class="video">
        <div style=" display: table;
        margin: 0 auto;
        width: 700px;">
            <videogular vg-player-ready="onPlayerReady($API)" vg-theme="videoConfig.theme">
                <!-- <vg-media vg-src="videoConfig.sources" vg-tracks="videoConfig.tracks">
                </vg-media> -->
                <!-- <vg-controls>
                    <vg-play-pause-button></vg-play-pause-button>
                    <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                    <vg-scrub-bar>
                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    </vg-scrub-bar>
                    <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                    <vg-volume>
                        <vg-mute-button></vg-mute-button>
                        <vg-volume-bar></vg-volume-bar>
                    </vg-volume>
                    <vg-fullscreen-button></vg-fullscreen-button>
                </vg-controls> -->

                <!-- <vg-overlay-play></vg-overlay-play> -->
                <!-- <vg-poster vg-url='videoConfig.plugins.poster'></vg-poster> -->
            </videogular>
        </div>
    </div>

    <div class="btn-face">
        <video style="width:1431px; height:805px; overflow: hidden;border-radius: 20px;box-shadow: 4px 4px 19px #6d6e7073;" id="registerfacevideo" preload="true">
            <source src="assets/vdo/registerface.mp4" type="video/mp4" />
        </video>
    </div>

    <div class="btn-cancel" ng-click="Cancel()"></div>
    <div class="box-text-cancel" ng-click="Cancel()">
        ยกเลิก
    </div>
    <div class="btn-repeat" ng-click="replayAudio()"></div>
    <div class="box-text-repeat" ng-click="replayAudio()">
        อธิบายซ้ำ
    </div>
    <div class="btn-start" ng-click="startCamera()"></div>
    <div class="box-text-start" ng-click="startCamera()">
        เริ่มสแกน
    </div>

    <!-- <div class="btn-loading" ng-click=""></div> -->

</div>
<audio id="display" src="./assets/kiosk/audio/tutorialfaceregister.mp3" preload="auto">

    <script>
        var sample = document.getElementById("display");
        sample.play();
    </script>