<div class="widgets" ng-init="init()">

    <div class="row DisplayDevice">
        <div class="row">
            <div ng-include="'app/pages/authen/widgets/DisplayDevice.html'"></div>
        </div>
    </div>
    <div class="row Condition" style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/authen/widgets/Condition.html'"></div>
        </div>
    </div>
    <div class="row Numpad" style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/authen/widgets/Numpad.html?v=2'"></div>
        </div>
    </div>
    <div class="row Select_Weighing" style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/authen/widgets/Select_Weighing.html'"></div>
        </div>
    </div>
    <div class="row Select_Option" style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/authen/widgets/Select_Option.html'"></div>
        </div>
    </div>
    <audio  id="display" src="./assets/kiosk/audio/please_login.mp3"  preload="auto">
        <audio id="condition" src="./assets/kiosk/audio/confirmconsent.mp3" preload="auto">
</div>