<style>
    /* @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap'); */

    @font-face {
        font-family: 'Prompt';
        src: url('app/pages/fonts/Prompt/Prompt-Regular.ttf');

    }

    .box-text-header-up {
        top: 67px;
        left: 821px;
        width: 416px;
        height: 68px;
        text-align: center;
        letter-spacing: 0px;
        color: #7A908F;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt';
        font-size: 45px;
        /* font: normal normal normal 45px/101px Prompt; */
        /* justify-content: center; */
        align-items: center;

    }

    .box-text-header {
        top: 110px;
        left: 742px;
        width: 730px;
        height: 98px;
        text-align: center;
        letter-spacing: 0px;
        color: #009393;
        opacity: 1;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p.text-header {
        top: 110px;
        left: 742px;
        width: 730px;
        height: 98px;
        text-align: left;
        font: normal normal 600 65px/91px Prompt;
        letter-spacing: 0px;
        color: #009393;
        opacity: 1;
    }


    .btn-cancel {
        top: 884px;
        left: 151px;
        width: 471px;
        height: 108px;
        opacity: 1;
        position: absolute;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        background-image: url(assets/kiosk/bt_cancel.svg);
        background-position: center;
        cursor: pointer;
    }

    .box-text-cancel {
        top: 931px;
        left: 262px;
        width: 258px;
        height: 68px;
        text-align: center;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        position: absolute;
        display: flex;
        /* justify-content: center;
        align-items: center; */
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 45px;
        cursor: pointer;

    }

    .btn-service {
        top: 884px;
        left: 725px;
        width: 471px;
        height: 107px;
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/bt_repeat.svg);
        background-position: center;
        cursor: pointer;
    }

    .box-text-service {
        top: 931px;
        left: 861px;
        width: 210px;
        height: 68px;
        text-align: center;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        position: absolute;
        display: flex;
        /* justify-content: center;
        align-items: center; */
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 45px;
        cursor: pointer;

    }

    .btn-start {
        top: 884px;
        left: 1298px;
        width: 471px;
        height: 107px;
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/bt_ok.svg);
        background-position: center;
        cursor: pointer;
    }

    .box-text-start {
        top: 931px;
        left: 1445px;
        width: 195px;
        height: 68px;
        text-align: center;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        position: absolute;
        display: flex;
        /* justify-content: center;
        align-items: center; */
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 45px;
        cursor: pointer;

    }

    .btn-home {
        top: 37px;
        left: 1782px;
        width: 87px;
        height: 87px;
        /* background: #6DC3C6 0% 0% no-repeat padding-box; */
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/staff/icon_home.svg);
        background-position: center;
        box-shadow: 0px 0px 90px #00000029;
        cursor: pointer;

    }
</style>
<div class="page-content">
    <!-- <div class="box-text-header-up">
        สำหรับเจ้าหน้าที่   
    </div> -->
    <!-- <div class="logo"></div> -->
    <div class="box-text-header">
        <p class="text-header">
            {{ activePageTitle }}
        </p>
    </div>

    <div class="btn-home" ng-click="Home()"></div>

    <div class="btn-cancel" ng-click="Back()"></div>
    <div class="box-text-cancel" ng-click="Back()">
        ออกจากระบบ
    </div>
    <div class="btn-service" ng-click=""></div>
    <div class="box-text-service" ng-click="">
        บริการอื่นๆ
    </div>
    <div class="btn-start" ng-click=""></div>
    <div class="box-text-start" ng-click="">
        เริ่มการวัด
    </div>
</div>