<div class="widgets">

    <div class="row DisplayDevice_Info" style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/devices/blood-pressure/widgets/DisplayDevice_Info.html'"></div>
        </div>
    </div>
    <div  class="row DisplayDevice" style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/devices/thermometer/widgets/DisplayDevice.html?v=1'"></div>
        </div>
    </div>
    <div class="row Loading" style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/devices/thermometer/widgets/Loading.html?v=1'"></div>
        </div>
    </div>
    <div class="row ResultDevice" style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/devices/thermometer/widgets/ResultDevice.html?v=1'"></div>
        </div>
    </div>
    <div class="row Success" style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/devices/thermometer/widgets/Success.html'"></div>
        </div>
    </div>
    <div class="row SuccessError" style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/devices/thermometer/widgets/SuccessError.html'"></div>
        </div>
    </div>
    <div class="row IRCamera" style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/devices/thermometer/widgets/IRCamera.html?v=1'"></div>
        </div>
    </div>
    <div class="row error_camera" style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/devices/thermometer/widgets/error_camera.html?v=1'"></div>
        </div>
    </div>
    <div class="row error" style="display: none;">
        <api-error-page txt-skip="'ข้ามการวัด'" func-skip="skip()" txt-retry="'วัดอีกครั้ง'" func-retry="startCamera()"></api-error-page>
    </div>
    



</div>