<div class="widgets">

    <div class="row DisplayDevice">
        <div class="row">
            <div ng-include="'app/pages/face/widgets/DisplayDevice.html'"></div>
        </div>
    </div>
    <div class="row Loading" style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/face/widgets/Loading.html'"></div>
        </div>
    </div>
    <div class="row ResultDevice" style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/face/widgets/ResultDevice.html'"></div>
        </div>
    </div>
    <div class="row Condition"style="display: none;">
        <div class="row" >
            <div ng-include="'app/pages/face/widgets/Condition.html'"></div>
        </div>
    </div>
    <div class="row Confirm"style="display: none;">
        <div class="row" >
            <div ng-include="'app/pages/face/widgets/Confirm.html'"></div>
        </div>
    </div>
    <div class="row Welcome"style="display: none;">
        <div class="row" >
            <div ng-include="'app/pages/face/widgets/Welcome.html'"></div>
        </div>
    </div>
    <div class="row Camera"style="display: none;">
        <div class="row" >
            <div ng-include="'app/pages/face/widgets/Camera.html'"></div>
        </div>
    </div>
    <div class="row Success"style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/face/widgets/Success.html'"></div>
        </div>
    </div>
    <div class="row UnSuccess"style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/face/widgets/UnSuccess.html?v=1'"></div>
        </div>
    </div>
    <div class="row SimilarSuccess"style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/face/widgets/SimilarSuccess.html'"></div>
        </div>
    </div>
    <div class="row UnSimilarSuccess"style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/face/widgets/UnSimilarSuccess.html'"></div>
        </div>
    </div>
        
    </div><div class="row NumpadID"style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/face/widgets/NumpadID.html?v=1'"></div>
        </div>
    </div>

    <div class="row error_face"style="display: none;">
        <div class="row" >
            <div ng-include="'app/pages/face/widgets/error_face.html'"></div>
        </div>
    </div>

</div>