<style>
    .box-text-header {
        top: 65px;
        left: 624px;
        width: 660px;
        height: 90px;
        text-align: center;
        letter-spacing: 0px;
        color: #009393;
        opacity: 1;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p.text-header {
        font-family: 'Prompt', sans-serif;
        font-size: 60px;
        color: #009393;
        white-space: nowrap;
    }

    .btn-staff-set {
        top: 219px;
        left: 134px;
        width: 494px;
        height: 677px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 1px 1px 16px #6D6E7073;
        border-radius: 64px;
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/staff/bt_staff_set.svg);
        cursor: pointer;
        background-position: center;
    }

    .box-text-set {
        top: 825px;
        left: 244px;
        width: 264px;
        height: 68px;
        text-align: left;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        position: absolute;
        display: flex;
        /* justify-content: center;
        align-items: center; */
        font-family: 'Prompt', sans-serif;
        /* font-weight: bold; */
        font-size: 45px;
        cursor: pointer;
    }

    .btn-staff-regis {
        top: 219px;
        left: 708px;
        width: 494px;
        height: 677px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 1px 1px 16px #6D6E7073;
        border-radius: 64px;
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/staff/bt_staff_regis.svg);
        cursor: pointer;
        background-position: center;
    }

    .box-text-regis {
        top: 825px;
        left: 762px;
        width: 395px;
        height: 68px;
        text-align: left;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        position: absolute;
        display: flex;
        /* justify-content: center;
        align-items: center; */
        font-family: 'Prompt', sans-serif;
        /* font-weight: bold; */
        font-size: 45px;
        cursor: pointer;

    }

    .btn-staff-list {
        top: 219px;
        left: 1281px;
        width: 494px;
        height: 677px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 1px 1px 16px #6D6E7073;
        border-radius: 64px;
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/staff/bt_staff_list.svg);
        cursor: pointer;
        background-position: center;
    }

    .box-text-list {
        top: 825px;
        left: 1429px;
        width: 199px;
        height: 68px;
        text-align: left;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        position: absolute;
        display: flex;
        /* justify-content: center;
        align-items: center; */
        font-family: 'Prompt', sans-serif;
        /* font-weight: bold; */
        font-size: 45px;
        cursor: pointer;

    }

    .btn-home {
        top: 37px;
        left: 1782px;
        width: 87px;
        height: 87px;
        /* background: #6DC3C6 0% 0% no-repeat padding-box; */
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/staff/icon_home.svg);
        background-position: center;
        box-shadow: 0px 0px 90px #00000029;
        cursor: pointer;

    }

    .btn-kios-mode {
        top: 37px;
        left: 1680px;
        width: 87px;
        height: 87px;
        /* background: #6DC3C6 0% 0% no-repeat padding-box; */
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/staff/icon_kios_mode.png);
        background-position: center;
        box-shadow: 0px 0px 90px #00000029;
        cursor: pointer;

    }

    .btn-wel {
        top: 37px;
        left: 1665px;
        width: 87px;
        height: 87px;
        /* background: #6DC3C6 0% 0% no-repeat padding-box; */
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/icon_wel_2b.svg);
        background-position: center;
        /* cursor: pointer; */
        border-radius: 40px;
    }

    .logo {
        top: 73px;
        left: 85px;
        width: 236px;
        height: 107px;
        background: transparent url(assets/kiosk/auth/icon_logo.svg) 0% 0% no-repeat padding-box;
        opacity: 1;
        position: absolute;
    }
</style>
<div class="page-content">
    <div class="logo"></div>
    <div class="box-text-header">
        <p class="text-header">
            {{ activePageTitle }}
        </p>
    </div>
    <!-- <div class="btn-kios-mode" ng-click="Homekiosmode()"></div> -->
    <!-- <div class="btn-kios-mode" onclick="window.open('', '_self', ''); window.close();"></div> -->
    <div class="btn-home" ng-click="Home()"></div>
    <!-- <div class="btn-wel"></div> -->

    <div class="btn-staff-set" ng-click="settingBystaff()">
    </div>
    <div class="box-text-set" ng-click="settingBystaff()">
        ตั้งค่าอุปกรณ์
    </div>
    <div class="btn-staff-regis" ng-click="regisBystaff()">
    </div>
    <div class="box-text-regis" ng-click="regisBystaff()">
        ลงทะเบียนใบหน้าใหม่
    </div>
    <div class="btn-staff-list" ng-click="listBystaff()">
    </div>
    <div class="box-text-list" ng-click="listBystaff()">
        รายชื่อผู้ใช้
    </div>
</div>
<!-- <script>
    function closeWin() {
        Window.close();
    }
</script> -->