<div class="widgets">
	<div class="row DisplayDevice">
		<div class="row">
			<div ng-include="'app/pages/staff_set/widgets/DisplayDevice.html'"></div>
		</div>
	</div>

	<div class="row error_Device" style="display: none">
		<div class="row">
			<div ng-include="'app/pages/staff_set/widgets/error_Device.html'"></div>
		</div>
	</div>

	<div class="row PopUp" style="display: none">
		<div class="row">
			<div ng-include="'app/pages/staff_set/widgets/PopUp.html'"></div>
		</div>
	</div>
	<div class="row PopUpSet" style="display: none">
		<div class="row">
			<div ng-include="'app/pages/staff_set/widgets/PopUpSet.html'"></div>
		</div>
	</div>

	<div class="row ResultDevice" style="display: none">
		<div class="row">
			<div ng-include="'app/pages/staff_set/widgets/ResultDevice.html'"></div>
		</div>
	</div>
	<div class="row Success" style="display: none">
		<div class="row">
			<div ng-include="'app/pages/staff_set/widgets/Success.html'"></div>
		</div>
	</div>
	<div class="row PopUpSetRFID" style="display: none">
		<div class="row">
			<div ng-include="'app/pages/staff_set/widgets/PopUpSetRFID.html'"></div>
		</div>
	</div>
	<div class="row RFIDSuccess" style="display: none">
		<div class="row">
			<div ng-include="'app/pages/staff_set/widgets/RFIDSuccess.html'"></div>
		</div>
	</div>
	<div class="row ListRFIDSuccess" style="display: none">
		<div class="row">
			<div
				ng-include="'app/pages/staff_set/widgets/ListRFIDSuccess.html'"
			></div>
		</div>
	</div>
	<div class="row PopUpSetTEMP" style="display: none">
		<div class="row">
			<div ng-include="'app/pages/staff_set/widgets/PopUpSetTEMP.html'"></div>
		</div>
	</div>
	<div class="row Loading" style="display: none">
		<div class="row">
			<div ng-include="'app/pages/staff_set/widgets/Loading.html'"></div>
		</div>
	</div>
	<div class="row Loadingset" style="display: none">
		<div class="row">
			<div ng-include="'app/pages/staff_set/widgets/Loadingset.html'"></div>
		</div>
	</div>
	<div class="row SetWeigthingSuccess" style="display: none">
		<div class="row">
			<div
				ng-include="'app/pages/staff_set/widgets/SetWeigthingSuccess.html'"
			></div>
		</div>
	</div>
	<div class="row TempSuccess" style="display: none">
		<div class="row">
			<div ng-include="'app/pages/staff_set/widgets/TempSuccess.html'"></div>
		</div>
	</div>
</div>
