<div class="widgets">

    <div class="row DisplayDevice"style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/staff_list/widgets/DisplayDevice.html'"></div>
        </div>
    </div>
    <div class="row Welcome"style="display: none;">
        <div class="row" >
            <div ng-include="'app/pages/staff_list/widgets/Welcome.html'"></div>
        </div>
    </div>

</div>