<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
  <a href="#/dashboard" class="al-logo clearfix"><span>3rd </span>Party</a>
  <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>

  <!-- <div class="search">
    <i class="ion-ios-search-strong" ng-click="startSearch()"></i>
    <input id="searchInput" type="text" placeholder="Search for...">
  </div> -->
 
  <div class="user-profile clearfix">
    <div class="al-user-profile" uib-dropdown>

      <a uib-dropdown-toggle class="profile-toggle-link">
        <img ng-src="{{::( 'Nasta' | profilePicture )}}">
      </a>
      <ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
        <li><a href="#" class="changepassword"><i class="fa fa-power-off"></i>Change Password</a></li>
        <li><a href="#" class="swithowner"><i class="fa fa-power-off"></i>Swith Owner</a></li>
        <li><a href="#" class="logout"><i class="fa fa-power-off"></i>Logout</a></li>
      </ul>

    </div>
    <msg-center></msg-center>
    <!-- <language-bar></language-bar> -->
  </div>
</div>