.box-text-header {
    top: 65px;
    left: 624px;
    width: 660px;
    height: 90px;
    text-align: center;
    letter-spacing: 0px;
    color: #009393;
    opacity: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

p.text-header {
    font-family: 'Prompt', sans-serif;
    font-size: 60px;
    color: #009393;
    white-space: nowrap;
}

.logo {
    top: 73px;
    left: 85px;
    width: 236px;
    height: 107px;
    background: transparent url(http://localhost/kios-nectec/assets/kiosk/auth/icon_logo.svg) 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}