<div class="widgets" ng-init="onInit()">

    <div class="row DisplayDevice" style="display:none;">
        <div class="row">
            <div ng-include="'app/pages/detail/widgets/DisplayDevice.html'"></div>
        </div>
    </div>


</div>