<style>
    .btn-red {
        top: 750px;
        left: 134px;
        width: 494px;
        height: 200px;
        background: #F16282 0% 0% no-repeat padding-box;
        box-shadow: 4px 4px 19px #6D6E7073;
        border-radius: 64px;
        opacity: 1;
        position: absolute;
        cursor: pointer;
        /* background-image: url(assets/kiosk/bt_log_1.svg) */
        font-family: 'Prompt', sans-serif;
        font-size: 50px;
        color: #ffffff;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .btn-yellow {
        top: 750px;
        left: 708px;
        width: 494px;
        height: 200px;
        background: #FAB762 0% 0% no-repeat padding-box;
        box-shadow: 4px 4px 19px #6D6E7073;
        border-radius: 64px;
        opacity: 1;
        position: absolute;
        cursor: pointer;
        /* background-image: url(assets/kiosk/bt_log_2.svg) */
        font-family: 'Prompt', sans-serif;
        font-size: 50px;
        color: #ffffff;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .btn-green {
        top: 750px;
        left: 1281px;
        width: 494px;
        height: 200px;
        background: #3BA996 0% 0% no-repeat padding-box;
        box-shadow: 4px 4px 19px #6D6E7073;
        border-radius: 64px;
        opacity: 1;
        position: absolute;
        cursor: pointer;
        /* background-image: url(assets/kiosk/bt_log_3.svg) */
        font-family: 'Prompt', sans-serif;
        font-size: 50px;
        color: #ffffff;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .box1 {
        top: 200px;
        left: 134px;
        width: 790px;
        height: 500px;
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 4px 4px 19px #6D6E7073;
        border-radius: 64px;
        opacity: 1;
        position: absolute;
        /* background-image: url(assets/kiosk/bt_log_3.svg) */
        font-family: 'Prompt', sans-serif;
        font-size: 50px;
        color: black;
        /* display: flex; */
        justify-content: center;
        align-items: center;
    }
    
    .box2 {
        top: 200px;
        right: 145px;
        width: 790px;
        height: 500px;
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 4px 4px 19px #6D6E7073;
        border-radius: 64px;
        opacity: 1;
        position: absolute;
        /* background-image: url(assets/kiosk/bt_log_3.svg) */
        font-family: 'Prompt', sans-serif;
        font-size: 50px;
        color: black;
        /* display: flex; */
        justify-content: center;
        align-items: center;
    }
</style>
<div class="page-content">
    <div class="logo"></div>
    <div class="box-text-header">
        <p class="text-header">
            {{ activePageTitle }}
        </p>
    </div>
    <div class="box1"> <br><br><br><span>ชื่อ : {{userInformation.name}}</span><br><br><br><span>เพศ : {{userInformation.sex}}</span><br><br><br><span>อายุ : {{userInformation.age}}</span></div>
    <div class="box2"> <br><br><br> <span>ข้อมูลประวัติสุขภาพ</span></div>

    <div class="btn-red " ng-click="cancel() ">
        ยกเลิก

    </div>
    <div class="btn-yellow " ng-click=" ">
        อื่นๆ
    </div>
    <div class="btn-green " ng-click="next() ">
        ตรวจวัดสุขภาพ
    </div>
</div>