<div class="widgets">

    <div class="row DisplayDevice_Info" style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/devices/blood-pressure/widgets/DisplayDevice_Info.html'"></div>
        </div>
    </div>
    <div class="row DisplayDevice">
        <div class="row">
            <div ng-include="'app/pages/devices/weighing-machines/widgets/DisplayDevice.html'"></div>
        </div>
    </div>
    <div class="row Select_Weighing" style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/devices/weighing-machines/widgets/Select_Weighing.html'"></div>
        </div>
    </div>
    <div class="row Select_Option" style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/devices/weighing-machines/widgets/Select_Option.html'"></div>
        </div>
    </div>
    <div class="row Loading" style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/devices/weighing-machines/widgets/Loading.html'"></div>
        </div>
    </div>
    <div class="row ResultDevice" style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/devices/weighing-machines/widgets/ResultDevice.html'"></div>
        </div>
    </div>
    <div class="row error" style="display: none;">
        <api-error-page txt-skip="'ข้ามการวัด'" func-skip="skip()" txt-retry="'วัดอีกครั้ง'" func-retry="start()"></api-error-page>
    </div>

</div>