<style>
    .video {
        top: 200px;
        height: 450px;
        width: 100%;
        position: absolute;
    }

    .btn-red {
        top: 884px;
        left: 151px;
        width: 471px;
        height: 108px;
        /* background: #F16282 0% 0% no-repeat padding-box;
        box-shadow: 4px 4px 19px #6D6E7073;
        border-radius: 64px; */
        opacity: 1;
        position: absolute;
        cursor: pointer;
        background-image: url(assets/kiosk/bt_cancel.svg);
        font-family: 'Prompt', sans-serif;
        font-size: 45px;
        color: #ffffff;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }

    .btn-yellow {
        top: 884px;
        left: 725px;
        width: 471px;
        height: 107px;
        /* background: #FAB762 0% 0% no-repeat padding-box;
        box-shadow: 4px 4px 19px #6D6E7073;
        border-radius: 64px; */
        opacity: 1;
        position: absolute;
        cursor: pointer;
        background-image: url(assets/kiosk/bt_repeat.svg);
        font-family: 'Prompt', sans-serif;
        font-size: 45px;
        color: #ffffff;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }

    .btn-green {
        top: 884px;
        left: 1298px;
        width: 471px;
        height: 107px;
        /* background: #3BA996 0% 0% no-repeat padding-box;
        box-shadow: 4px 4px 19px #6D6E7073;
        border-radius: 64px; */
        opacity: 1;
        position: absolute;
        cursor: pointer;
        background-image: url(assets/kiosk/bt_ok.svg);
        font-family: 'Prompt', sans-serif;
        font-size: 45px;
        color: #ffffff;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }

    .btn-face {
        top: 52px;
        left: 103px;
        width: 1714px;
        height: 805px;
        opacity: 1;
        background-image: url(assets/kiosk/face.png);
        position: absolute;

    }
</style>
<div class="page-content">
    <!-- <div class="logo"></div> -->
    <div class="box-text-header">
        <p class="text-header">
            {{ activePageTitle }}
        </p>
    </div>
    <div class="video">
        <div style=" display: table;
        margin: 0 auto;
        width: 700px;">
            <videogular vg-player-ready="onPlayerReady($API)" vg-theme="videoConfig.theme">
                <vg-media vg-src="videoConfig.sources" vg-tracks="videoConfig.tracks">
                </vg-media>
                <!-- <vg-controls>
                    <vg-play-pause-button></vg-play-pause-button>
                    <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                    <vg-scrub-bar>
                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    </vg-scrub-bar>
                    <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                    <vg-volume>
                        <vg-mute-button></vg-mute-button>
                        <vg-volume-bar></vg-volume-bar>
                    </vg-volume>
                    <vg-fullscreen-button></vg-fullscreen-button>
                </vg-controls> -->

                <!-- <vg-overlay-play></vg-overlay-play> -->
                <!-- <vg-poster vg-url='videoConfig.plugins.poster'></vg-poster> -->
            </videogular>
        </div>
    </div>

    <div class="btn-face" ng-click=""></div>

    <div class="btn-red" ng-click="back() ">
        กลับ

    </div>
    <div class="btn-yellow" ng-click="videoPlay()">อธิบายซ้ำ</div>


    <div class="btn-green" ng-click="start()">
        เริ่มสแกน
    </div>
</div>