<div class="widgets">

    <div class="row DisplayDevice">
        <div class="row">
            <div ng-include="'app/pages/profile/widgets/DisplayDevice.html'"></div>
        </div>
    </div>
    <div class="row Select_Weighing"style="display: none;">
        <div class="row" >
            <div ng-include="'app/pages/profile/widgets/Select_Weighing.html'"></div>
        </div>
    </div>
    <div class="row Select_Option"style="display: none;">
        <div class="row" >
            <div ng-include="'app/pages/profile/widgets/Select_Option.html'"></div>
        </div>
    </div>
    <div class="row UnSuccess"style="display: none;">
        <div class="row" >
            <div ng-include="'app/pages/profile/widgets/UnSuccess.html'"></div>
        </div>
    </div>


</div>