<div class="widgets">

    <div class="row DisplayDevice">
        <div class="row">
            <div ng-include="'app/pages/staff_face_regis/widgets/DisplayDevice.html'"></div>
        </div>
    </div>
    <div class="row Loading_face" style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/staff_face_regis/widgets/Loading_face.html'"></div>
        </div>
    </div>
    <div class="row Camera" style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/staff_face_regis/widgets/Camera.html'"></div>
        </div>
    </div>
    <div class="row Success" style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/staff_face_regis/widgets/Success.html'"></div>
        </div>
    </div>
    <!-- <div class="row UnSuccess" style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/staff_face_regis/widgets/UnSuccess.html'"></div>
        </div>
    </div> -->
    
    <!-- <div class="row ResultDevice" style="display: none;">
        <div class="row">
            <div ng-include="'app/pages/idcard/widgets/ResultDevice.html'"></div>
        </div>
    </div> -->


</div>