<div class="widgets">

    <div class="row error_device">
        <div class="row">
            <div ng-include="'app/pages/error_device/widgets/error_device.html'"></div>
        </div>
    </div>
</div>
