<div class="widgets">

    <div class="row DisplayDevice">
        <div class="row">
            <div ng-include="'app/pages/numpad/widgets/DisplayDevice.html'"></div>
        </div>
    </div>


</div>