﻿<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title" id="myModalLabel">Information!</h4><hr>
  </div>
  <div class="modal-body">
     {{messageDlg}}
  </div>
  <div class="modal-footer"><hr>
    <button type="button" class="btn btn-primary" ng-click="$dismiss()">{{ 'Close' | translate}}</button>
  </div>
</div>