﻿<style>
    .pagination-custom > span
    {
   	    float:left;
   	    padding: 8px
    }
    .pagination-custom > ul > li >a
    {
        padding: 8px 12px
    }

    .select-page {
        width:35px;
        text-align: center;
        padding: 1px;
        margin: -5px 0;
    }
      
</style>

<nav class="pagination-custom" ng-if="pages.length >= 2">
  <span class="pagination">{{ 'Total' | translate }} {{totalItemCount}} {{ 'Records' | translate }}</span>
  <ul class="pagination">
    <li><a ng-click="selectPage(1)">{{ 'First' | translate }} </a>
    </li><li><a ng-click="selectPage(currentPage - 1)">&lt;</a>
    </li><li><a><st-page-select></st-page-select>{{ 'of' | translate }}  {{numPages}}</a>
    </li><li><a ng-click="selectPage(currentPage + 1)">&gt;</a>
    </li><li><a ng-click="selectPage(numPages)">{{ 'Last' | translate }}</a></li>
  </ul>
</nav>