﻿<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    {{dropdownLabel  | translate}}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li ng-repeat="item in distinctItems">

      <label class="checkbox-inline custom-checkbox nowrap" style="padding-left:10px">
        <input type="checkbox" ng-model="item.selected" ng-click="filterChanged()">
        <span>{{item.value | translate}}</span>
      </label>

    </li>
  </ul>
</div>