<!-- <div class="page-content">
    <div style="height: 157px;">
        <content-top></content-top>
    </div>
    <div class="col-lg-12 col-md-12 xs-12">
        <div class="row">
            <div class="col-sm-6 text-center" style="height: 450px;border-style: solid; padding: 10px;font-size: 50px;">

                <br><br><br><span>ชื่อ : {{profile.name}}</span> <br><br><br><span>เพศ : {{profile.sex}}</span> <br><br><br><span>อายุ : {{profile.age}}</span>
            </div>
            <div class="col-sm-6 text-center" style="height: 450px;border-style: solid; padding: 10px;font-size: 14px;">

                <br><br><br> <span>{{results}}</span>
            </div>
        </div>

    </div>

    <div>
        <button ng-click="logout()" class="btn btn-danger" style="top:800px;
    left: 83px;
    width: 545px;
    height: 200px;position: absolute;font-size: 70px">ออกจากระบบ</button>
    </div>

    <div>
        <button ng-click="recheckAll()" class="btn btn-warning" style="top: 800px;
    left: 683px;
    width: 545px;
    height: 200px;position: absolute;font-size: 70px">ตรวจวัดใหม่</button></div>

    <div>
        <button ng-click="profilePage()" class="btn btn-success" style="top: 800px;
    left: 1282px;
    width: 545px;
    height: 200px;position: absolute;font-size: 70px">ข้อมูลผู้ใช้</button>
    </div>
</div> -->
<style>
    @font-face {
        font-family: 'Prompt';
        src: url('app/pages/fonts/Prompt/Prompt-Regular.ttf');

    }

    .background-results {
        top: 0px;
        margin: 0px;
        padding: 0px;
        height: 1080px;
        width: 1920px;
        opacity: 1;
        background-image: url(assets/kiosk/results/bg_main.svg);
        position: absolute;
    }

    .profile-result {
        top: 35px;
        left: 68px;
        width: 210px;
        height: 210px;
        opacity: 1;
        background-image: url(assets/kiosk/profile/profile1.png);
        position: absolute;
        background-repeat: no-repeat;
    }

    .profile-result-unknown {
        top: 35px;
        left: 68px;
        width: 210px;
        height: 210px;
        opacity: 1;
        background-image: url(assets/kiosk/profile/profile_unknown.png);
        position: absolute;
        background-repeat: no-repeat;
    }

    .btn-red {
        top: 926px;
        left: 151px;
        width: 471px;
        height: 108px;
        opacity: 1;
        position: absolute;
        cursor: pointer;
        background-image: url(assets/kiosk/bt_cancel.svg);
        font-family: 'Prompt', sans-serif;
        font-size: 45px;
        color: #ffffff;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }

    .btn-yellow {
        top: 926px;
        left: 725px;
        width: 471px;
        height: 107px;
        opacity: 1;
        position: absolute;
        cursor: pointer;
        background-image: url(assets/kiosk/bt_repeat.svg);
        font-family: 'Prompt', sans-serif;
        font-size: 45px;
        color: #ffffff;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }

    .btn-green {
        top: 926px;
        left: 1298px;
        width: 471px;
        height: 107px;
        opacity: 1;
        position: absolute;
        cursor: pointer;
        background-image: url(assets/kiosk/bt_ok.svg);
        font-family: 'Prompt', sans-serif;
        font-size: 45px;
        color: #ffffff;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }

    .btn-wel {
        top: 37px;
        left: 1665px;
        width: 87px;
        height: 87px;
        /* background: #6DC3C6 0% 0% no-repeat padding-box; */
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/icon_wel_2b.svg);
        background-position: center;
        /* cursor: pointer; */
        border-radius: 40px;
    }

    .btn-admin {
        top: 37px;
        left: 1782px;
        width: 87px;
        height: 87px;
        /* background: #6DC3C6 0% 0% no-repeat padding-box; */
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/auth/icon_admin_log.svg);
        cursor: pointer;
    }


    .btn-icon-check-1 {
        top: 310px;
        left: 35px;
        width: 88px;
        height: 88px;
        /* background: #6DC3C6 0% 0% no-repeat padding-box; */
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/results/icon_check_1.svg);
        cursor: pointer;
    }

    .btn-icon-check-2 {
        top: 475px;
        left: 35px;
        width: 88px;
        height: 88px;
        /* background: #6DC3C6 0% 0% no-repeat padding-box; */
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/results/icon_check_2.svg);
        cursor: pointer;
    }

    .btn-icon-check-3 {
        top: 645px;
        left: 35px;
        width: 88px;
        height: 88px;
        /* background: #6DC3C6 0% 0% no-repeat padding-box; */
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/results/icon_check_3.svg);
        cursor: pointer;
    }

    .btn-icon-check-4 {
        top: 780px;
        left: 35px;
        width: 88px;
        height: 88px;
        /* background: #6DC3C6 0% 0% no-repeat padding-box; */
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/results/icon_check_4.svg);
        cursor: pointer;
    }

    .box-text-head {
        top: 60px;
        left: 850px;
        width: 517px;
        height: 68px;
        text-align: center;
        letter-spacing: 0px;
        color: #054445;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        /* font-weight: bold; */
        font-size: 45px;
    }

    #qrcode {
        top: 42px;
        left: 1632px;
        position: absolute;
        display: flex;
        box-shadow: 8px 6px 9px 0px;
    }

    .box-text-name {
        top: 140px;
        left: 850px;
        /* width: 730px; */
        height: 98px;
        text-align: center;
        letter-spacing: 0px;
        color: #009393;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 50px;
    }

    .box-text-hight {
        top: 350px;
        left: 100px;
        width: 430px;
        height: 53px;
        text-align: center;
        letter-spacing: 0px;
        color: #0F6D6E;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 55px;
    }

    .box-text-weight {
        top: 515px;
        left: 100px;
        width: 430px;
        height: 53px;
        text-align: center;
        letter-spacing: 0px;
        color: #0F6D6E;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 55px;
    }

    .box-text-bmr {
        top: 665px;
        left: 100px;
        width: 430px;
        height: 53px;
        text-align: center;
        letter-spacing: 0px;
        color: #0F6D6E;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 55px;
    }

    .box-text-bmi {
        top: 810px;
        left: 100px;
        width: 430px;
        height: 53px;
        text-align: center;
        letter-spacing: 0px;
        color: #0F6D6E;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 55px;
    }

    .box-text-heart {
        top: 355px;
        left: 1065px;
        width: 430px;
        height: 53px;
        text-align: center;
        letter-spacing: 0px;
        color: #0F6D6E;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 55px;
    }

    .box-text-blood-top {
        top: 515px;
        left: 1065px;
        width: 500px;
        height: 53px;
        text-align: center;
        letter-spacing: 0px;
        color: #0F6D6E;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 55px
    }

    /* .box-text-blood-down {
        top: 555px;
        left: 826px;
        width: 510px;
        height: 53px;
        text-align: center;
        letter-spacing: 0px;
        color: #0F6D6E;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 55px;
    } */

    .box-text-oxygen {
        top: 665px;
        left: 1065px;
        width: 772px;
        height: 53px;
        text-align: center;
        letter-spacing: 0px;
        color: #0F6D6E;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 55px;
    }

    /* .box-text-oxygentop {
        top: 655px;
        left: 830px;
        width: 772px;
        height: 53px;
        text-align: center;
        letter-spacing: 0px;
        color: #0F6D6E;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 55px;
    } */

    .box-text-temp {
        top: 810px;
        left: 1065px;
        width: 380px;
        height: 53px;
        text-align: center;
        letter-spacing: 0px;
        color: #0F6D6E;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 55px;
    }

    .box-text-date {
        top: 215px;
        left: 845px;
        width: 640px;
        height: 53px;
        text-align: center;
        letter-spacing: 0px;
        color: #009393;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        /* font-weight: bold; */
        font-size: 35px;
    }


    .box-text-id-number {
        top: 216px;
        left: 310px;
        width: 182px;
        height: 68px;
        text-align: center;
        letter-spacing: 0px;
        color: #29BCBD;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        /* font-weight: bold; */
        font-size: 45px;
    }

    .box-text-number {
        top: 215px;
        left: 500px;
        width: 182px;
        height: 68px;
        text-align: center;
        letter-spacing: 0px;
        color: #29BCBD;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        /* font-weight: bold; */
        font-size: 45px;
    }

    .box-text-sex {
        top: 70px;
        left: 310px;
        width: 188px;
        height: 75px;
        text-align: center;
        letter-spacing: 0px;
        color: #6C7474;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        /* font-weight: bold; */
        font-size: 40px;
    }

    .box-text-detail-sex {
        top: 70px;
        left: 415px;
        width: 188px;
        height: 75px;
        text-align: center;
        letter-spacing: 0px;
        color: #29BCBD;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 40px;
    }

    .box-text-age {
        top: 140px;
        left: 310px;
        width: 207px;
        height: 75px;
        text-align: center;
        letter-spacing: 0px;
        color: #6C7474;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        /* font-weight: bold; */
        font-size: 40px;
    }

    .box-text-detail-age {
        top: 140px;
        left: 415px;
        width: 410px;
        height: 75px;
        text-align: center;
        letter-spacing: 0px;
        color: #29BCBD;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 40px;
    }


    .background-line1 {
        top: 295px;
        left: 0px;
        width: 1920px;
        height: 120px;
        background: #E9F4F7 0% 0% no-repeat padding-box;
        position: absolute;
        opacity: 1;
    }

    .background-line2 {
        top: 600px;
        left: 0px;
        width: 1920px;
        height: 130px;
        background: #E9F4F7 0% 0% no-repeat padding-box;
        position: absolute;
        opacity: 1;
    }


    .box1 {
        top: 200px;
        left: 134px;
        width: 790px;
        height: 500px;
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 4px 4px 19px #6D6E7073;
        border-radius: 64px;
        opacity: 1;
        position: absolute;
        /* background-image: url(assets/kiosk/auth/bt_log_3.svg) */
        font-family: 'Prompt', sans-serif;
        font-size: 50px;
        color: black;
        /* display: flex; */
        justify-content: center;
        align-items: center;
    }

    .box2 {
        top: 200px;
        right: 145px;
        width: 790px;
        height: 500px;
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 4px 4px 19px #6D6E7073;
        border-radius: 64px;
        opacity: 1;
        position: absolute;
        /* background-image: url(assets/kiosk/auth/bt_log_3.svg) */
        font-family: 'Prompt', sans-serif;
        font-size: 50px;
        color: black;
        /* display: flex; */
        justify-content: center;
        align-items: center;
    }

    .box-text-u1 {
        top: 350px;
        left: 1471px;
        width: 316px;
        height: 53px;
        text-align: right;
        letter-spacing: 0px;
        color: #c7ccce;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 70px;
    }

    .box-text-u2 {
        top: 515px;
        left: 1598px;
        width: 510px;
        height: 53px;
        text-align: right;
        letter-spacing: 0px;
        color: #c7ccce;
        ;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 70px;
    }

    /* .box-text-u3 {
        top: 565px;
        left: 1510px;
        width: 259px;
        height: 64px;
        text-align: right;
        letter-spacing: 0px;
        color: #FF4646;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 55px;
    } */

    .box-text-u4 {
        top: 662px;
        left: 1434px;
        width: 316px;
        height: 53px;
        text-align: right;
        letter-spacing: 0px;
        color: #c7ccce;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 70px;
    }

    .box-text-u5 {
        top: 805px;
        left: 1310px;
        width: 318px;
        height: 64px;
        text-align: right;
        letter-spacing: 0px;
        color: #c7ccce;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 70px;
    }


    .box-text-u6 {
        top: 350px;
        left: 305px;
        width: 265px;
        height: 53px;
        text-align: right;
        letter-spacing: 0px;
        color: #00B0F0;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 70px;
    }

    .box-text-u7 {
        top: 515px;
        left: 305px;
        width: 251px;
        height: 53px;
        text-align: right;
        letter-spacing: 0px;
        color: #00B0F0;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 70px;
    }

    .box-text-u8 {
        top: 660px;
        left: 195px;
        width: 360px;
        height: 53px;
        text-align: right;
        letter-spacing: 0px;
        color: #00B0F0;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 70px;
    }

    .box-text-u9 {
        top: 810px;
        left: 195px;
        width: 360px;
        height: 53px;
        text-align: right;
        letter-spacing: 0px;
        color: #00B0F0;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 70px;
    }

    .unit p {
        float: left;
        border: none;
        outline: none;
        /* transition: 0.3s; */
        font-size: 42px;
        color: #7A908F;
        position: absolute;
        font-family: Prompt;
        /* font-weight: bold; */
    }

    #u-1 {
        top: 310px;
        left: 1680px;
    }

    #u-2 {
        top: 470px;
        left: 1715px;
    }

    /* #u-3 {
        top: 525px;
        left: 1715px;
    } */

    #u-4 {
        top: 620px;
        left: 1700px;
    }

    #u-5 {
        top: 765px;
        left: 1655px
    }

    #u-5 {
        top: 765px;
        left: 1655px
    }

    #u-6 {
        top: 310px;
        left: 620px;
    }

    #u-7 {
        top: 470px;
        left: 620px;
    }

    .e-1 {
        top: 295px;
        left: 880px;
        width: 107px;
        height: 107px;
        opacity: 1;
        /* background-image: url(assets/kiosk/emoji/sm/icon_emo_down1.png); */
        position: absolute;
    }

    .e-2 {
        top: 460px;
        left: 880px;
        width: 107px;
        height: 107px;
        opacity: 1;
        /* background-image: url(assets/kiosk/emoji/sm/icon_emo_over3.png); */
        position: absolute;
    }

    /* .e-3 {
        top: 520px;
        left: 1354px;
        width: 107px;
        height: 107px;
        opacity: 1;
        background-image: url(assets/kiosk/emoji/sm/icon_emo_over3.png);
        position: absolute;
    } */

    .e-4 {
        top: 610px;
        left: 880px;
        width: 107px;
        height: 107px;
        opacity: 1;
        /* background-image: url(assets/kiosk/emoji/sm/icon_emo_ok.png); */
        position: absolute;
    }

    .e-5 {
        top: 763px;
        left: 880px;
        width: 107px;
        height: 107px;
        opacity: 1;
        /* background-image: url(assets/kiosk/emoji/sm/icon_emo_over4.png); */
        position: absolute;
    }

    .divun {
        /* border: 1px solid black; */
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right: 100px;
        margin-left: 80px;
        /* background-color: lightblue;*/
    }

    .avatar {
        width: 259px;
        height: 263px;
        border-radius: 55%;
        top: 20px;
        left: 25px;
        position: absolute;
        box-shadow: 4px 5px 15px;
    }

    .btn-print {
        top: 60px;
        left: 1510px;
        width: 88px;
        height: 88px;
        /* background: #6DC3C6 0% 0% no-repeat padding-box; */
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/results/print.png);
        cursor: pointer;
    }
</style>
<div class="page-content">
    <div class="background-results"></div>
    <!-- <div class="profile-result" ng-show="usertype != 0"></div> -->
    <img src="{{profile.profile_img}}" alt="Avatar" class="avatar" ng-show="usertype != 0">

    <div class="profile-result-unknown" ng-show="usertype == 0"></div>
    <!-- <div class="logo"></div> -->

    <div class="box-text-header">
        <p class="text-header">
            {{ activePageTitle }}
        </p>
    </div>

    <!-- <div class="btn-wel"></div> -->
    <!-- <div class="btn-admin" ng-click="authen_adminByResults()"></div> -->

    <!-- <div class="box1"> <br><br><br><span>ชื่อ : {{profile.name}}</span><br><br><br><span>เพศ : {{profile.sex}}</span><br><br><br><span>อายุ : {{profile.age}}</span></div> -->
    <!-- <div class="box2"> <br><br><br>
        <p>{{results}}</p>
    </div> -->

    <div class="box-text-head">
        การตรวจสุขภาพของวันนี้
    </div>


    <div class="box-text-name">
        {{profile.titleName+' '+profile.firstnameth+' '+profile.lastnameth}}
    </div>
    <div class="btn-print" ng-click="print()"></div>
    <qrcode id="qrcode" style="border: 5px solid #FFF; " size="220" data="{{qrcode}}"></qrcode>
    <div class="box-text-date">
        <!-- ข้อมูลล่าสุด : 2021-01-28, เวลา 13:50:10 -->
        <!-- ข้อมูลล่าสุด : {{ historyRef.DATE_SERV }}, เวลา {{ historyRef.TIME_SERV }} -->
        ข้อมูลล่าสุด <a id="MyDate"> </a>, เวลา <a id="time"> </a>
    </div>

    <script>
        var time = new Date();
        // document.getElementById("time").innerHTML = ". " + time.getHours() + ":" + time.getMinutes() + ":" + time.getSeconds();
        document.getElementById("time").innerHTML = ". " + time.getHours() + ":" + ('0' + time.getMinutes()).slice(-2) + ":" + ('0' + time.getSeconds()).slice(-2);


        // document.getElementById("date").innerHTML = ": " + time.getFullYear() + "-" + (time.getMonth() + 1) + "-" + time.getDate();
        var MyDate = new Date();
        document.getElementById("MyDate").innerHTML = ": " + ('0' + MyDate.getDate()).slice(-2) + '-' + ('0' + (MyDate.getMonth() + 1)).slice(-2) + '-' + MyDate.getFullYear();
    </script>

    <div class="background-line1"></div>
    <div class="background-line2"></div>

    <div class="box-text-hight">
        ส่วนสูง
    </div>
    <div class="box-text-weight">
        น้ำหนัก
    </div>
    <div class="box-text-bmr">
        BMR
    </div>
    <div class="box-text-bmi">
        BMI
    </div>

    <div class="box-text-heart">
        อัตราการเต้นหัวใจ
    </div>
    <div class="box-text-blood-top">
        ความดันโลหิต
    </div>
    <!-- <div class="box-text-blood-down">
        ความดันโลหิต ตัวล่าง
    </div> -->
    <!-- <div class="box-text-oxygentop">
        ความอิ่มตัวของ
    </div> -->
    <div class="box-text-oxygen">
        ออกซิเจนในเลือด
    </div>
    <div class="box-text-temp">
        อุณหภูมิร่างกาย
    </div>

    <div class="box-text-sex">
        เพศ
    </div>
    <div class="box-text-detail-sex" ng-show="profile.sex == 1">
        ชาย
    </div>
    <div class="box-text-detail-sex" ng-show="profile.sex == 2">
        หญิง
    </div>
    <div class="box-text-detail-sex" ng-show="usertype == 0">
        -
    </div>
    <!-- <div class="btn-line"></div> -->
    <div class="box-text-age">
        อายุ
    </div>
    <div class="box-text-detail-age" ng-show="usertype == 1">
        {{profile.age.years+ ' ' +' ปี'+ ' ' + profile.age.months +' เดือน'+' ' + profile.age.days +' วัน'}}
    </div>
    <div class="box-text-detail-age" ng-show="usertype == 0">
        -
    </div>
    <div class="box-text-id-number">
        เลขที่ผู้ใช้
    </div>
    <div class="box-text-number">
        {{PID}}
        <!-- 2001899 -->
    </div>

    <!-- <div class="btn-icon-check-1"></div>
    <div class="btn-icon-check-2"></div>
    <div class="btn-icon-check-3"></div>
    <div class="btn-icon-check-4"></div> -->


    <div class="btn-red " ng-click="logout()">
        ออกจากระบบ

    </div>
    <div class="btn-yellow " ng-click="detailByProfile()" ng-show="usertype == 1">
        ดูรายละเอียด
    </div>
    <!-- <div class="btn-green " ng-click="profilePage() ">
        ข้อมูลผู้ใช้
    </div> -->
    <div class="btn-green " ng-click="recheckAll() ">
        ตรวจวัดอีกครั้ง
    </div>

    <div class="e-1" ng-style="pulseRateStyleEmoji"></div>
    <div class="e-2" ng-style="bloodPressureStyleEmoji"></div>
    <!-- <div class="e-3" ng-style="bloodPressureStyleEmoji"></div> -->
    <div class="e-4" ng-style="oxygenStyleEmoji"></div>
    <div class="e-5" ng-style="temperatureStyleEmoji"></div>

    <!-- <audio id="Result" src="./assets/kiosk/audio/results.mp3" preload="auto"> -->

    <!-- <script>
            var sample = document.getElementById("Result");
            sample.play();
        </script> -->
</div>


<div class="box-text-u1" ng-style="pulseRateStyle.recommendation_num">
    <span style="width: 40%;">{{ results.bloodPressure.pulse }}</span>
    <span ng-show="results.bloodPressure.pulse == null"> - </span>
</div>
<div class="box-text-u2" ng-style="bloodPressureStyle.recommendation_num">
    <span style="width:49%;" ng-show="results.bloodPressure.systolic != null">
        {{ results.bloodPressure.systolic}}/{{results.bloodPressure.diastolic }} </span>
    <span ng-show="results.bloodPressure.systolic == null"> - </span>
</div>
<!-- <div class="box-text-u3" ng-style="bloodPressureStyle.recommendation_num">
    <span style="width:50%;">{{ history.DBP }}</span>
</div> -->
<div class="box-text-u4" ng-style="oxygenStyle.recommendation_num">
    <span style="width: 52%;">{{results.pulseOximeter.SpO2 }}</span>
    <span ng-show="results.pulseOximeter.SpO2 == null"> - </span>
</div>
<div class="box-text-u5" ng-style="temperatureStyle.recommendation_num">
    <span style="width: 97%;">{{results.temperature.value}}</span>
    <span style="width: 35%;" ng-show="results.temperature.value == null"> - </span>
</div>

<div class="box-text-u6" ng-style="">
    <span style="width: 87%;"> {{results.height}}</span>
    <span style="color:#C7CCCE;" ng-show="results.height == null">
        <divun> - </divun>
    </span>
    <!-- 178 -->
</div>
<div class="box-text-u7" ng-style="">
    <span style="width: 90%;"> {{results.weight.weight}}</span>
    <span style="color:#C7CCCE;" ng-show="results.weight.weight == null">
        <divun> - </divun>
    </span>
    <!-- 60 -->
</div>
<div class="box-text-u8" ng-style="">
    <span style="width: 90%;"> {{results.weight.BMR}}</span>
    <span style="color:#C7CCCE;" ng-show="results.weight.BMR == null">
        <divun> - </divun>
    </span>
    <!-- 1285 -->
</div>
<div class="box-text-u9" ng-style="weighingMachinesStyle.recommendation_num">
    <span style="width: 90%;"> {{results.weight.BMI}}</span>
    <span style="color:#C7CCCE;" ng-show="results.weight.BMI == null">
        <divun> - </divun>
    </span>
    <!-- 285 -->
</div>

<div class="unit">
    <p id="u-1">
        ครั้งต่อนาที
    </p>
    <p id="u-2">
        มม.ปรอท
    </p>
    <!-- <p id="u-3">
        มม.ปรอท
    </p> -->
    <p id="u-4">
        เปอร์เซนต์
    </p>
    <p id="u-5">
        องศาเซลเซียส
    </p>
    <p id="u-6">
        เซนติเมตร
    </p>
    <p id="u-7">
        กิโลกรัม
    </p>
</div>