<div class="content-top clearfix" style="text-align: center;">
    <!-- <h1 class="al-title">{{ activePageTitle }}</h1>

    <ul class="breadcrumb al-breadcrumb">
        <li>
            <a href="#/home">Home</a></li>
        <li>{{ activePageTitle }}</li>
    </ul> -->
    <h1 style="text-align: center;font-size: 70px;font-family: Prompt-SemiBold;">{{ activePageTitle }}</h1>
</div>