<style>
    .video {
        top: 200px;
        height: 450px;
        width: 100%;
        position: absolute;
    }

    .btn-about {
        top: 111px;
        left: 1637px;
        width: 98px;
        height: 98px;
        background: #29BCBD 0% 0% no-repeat padding-box;
        border-radius: 50px;
        opacity: 1;
        position: absolute;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .box-text-about {
        top: 153px;
        left: 1676px;
        width: 18px;
        height: 98px;
        text-align: center;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 74px;
        cursor: pointer;
    }

    .btn-red-dispaly {
        top: 884px;
        left: 151px;
        width: 471px;
        height: 108px;
        opacity: 1;
        position: absolute;
        cursor: pointer;
        background-image: url(assets/kiosk/bt_cancel.svg);
        font-family: 'Prompt', sans-serif;
        font-size: 45px;
        color: #ffffff;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;

    }

    .btn-yellow {
        top: 884px;
        left: 725px;
        width: 471px;
        height: 107px;
        opacity: 1;
        position: absolute;
        cursor: pointer;
        background-image: url(assets/kiosk/bt_repeat.svg);
        font-family: 'Prompt', sans-serif;
        font-size: 45px;
        color: #ffffff;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;

    }

    .btn-green-display {
        top: 884px;
        left: 1298px;
        width: 471px;
        height: 107px;
        font-weight: bold;
        opacity: 1;
        position: absolute;
        cursor: pointer;
        background-image: url(assets/kiosk/bt_ok.svg);
        font-family: 'Prompt', sans-serif;
        font-size: 45px;
        color: #ffffff;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-weigh {
        top: 52px;
        /* left: 103px;
        width: 1714px; */
        height: 805px;
        opacity: 1;
        background-image: url(assets/kiosk/weigh.png);
        position: absolute;
        left: 244px;
        width: 1431px;
        border-radius: 20px;
    }
</style>
<div class="page-content">
    <!-- <div class="logo"></div> -->
    <div class="box-text-header">
        <p class="text-header">
            {{ activePageTitle }}
        </p>
    </div>
    <!-- <div class="video">
        <div style=" display: table;
        margin: 0 auto;
        width: 700px;">
            <videogular vg-player-ready="onPlayerReady($API)" vg-theme="videoConfig.theme">
                <vg-media vg-src="videoConfig.sources" vg-tracks="videoConfig.tracks">
                </vg-media>
                <vg-controls>
                    <vg-play-pause-button></vg-play-pause-button>
                    <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                    <vg-scrub-bar>
                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    </vg-scrub-bar>
                    <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                    <vg-volume>
                        <vg-mute-button></vg-mute-button>
                        <vg-volume-bar></vg-volume-bar>
                    </vg-volume>
                    <vg-fullscreen-button></vg-fullscreen-button>
                </vg-controls>

                <vg-overlay-play></vg-overlay-play>
                <vg-poster vg-url='videoConfig.plugins.poster'></vg-poster>
            </videogular>
        </div>
    </div> -->

    <div class="btn-weigh">
        <video style="width:1431px; height:805px; overflow: hidden;border-radius: 20px;box-shadow: 4px 4px 19px #6d6e7073;" id="weighingmachinesvideo" preload="true">
            <source src="assets/vdo/weighingmachines.mp4" type="video/mp4" />
        </video>
    </div>

    <div class="btn-red-dispaly" ng-click="backtoprofile()">
        ยกเลิก

    </div>

    <skip-button text="'ข้ามการชั่ง'"></skip-button>
    <!-- <div class="btn-about" ng-click="Info()">
    </div>
    <div class="box-text-about" ng-click="Info()">
        i
    </div> -->

    <div class="btn-green-display" ng-click="start() ">
        เริ่มชั่งน้ำหนัก
    </div>

    <audio id="display" src="./assets/kiosk/audio/welcome_weighing_machines.mp3" preload="auto">

        <script>
            var sample = document.getElementById("display");
            sample.play();
        </script>


</div>