<style>
    /* @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap'); */

    @font-face {
        font-family: 'Prompt';
        src: url('app/pages/fonts/Prompt/Prompt-Regular.ttf');

    }

    .background-loading {
        margin: 0px;
        padding: 0px;
        height: 1080px;
        width: 1920px;
        /* background-color: #054445; */
        background-image: url(assets/kiosk/devices/bg_check_a2.jpg);
    }

    .box-text-header-up {
        top: 67px;
        left: 821px;
        width: 421px;
        height: 68px;
        text-align: center;
        letter-spacing: 0px;
        color: #7A908F;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt';
        font-size: 45px;
        /* font: normal normal normal 45px/101px Prompt; */
        /* justify-content: center; */
        align-items: center;

    }

    .box-text-header {
        top: 135px;
        left: 576px;
        width: 878px;
        height: 114px;
        text-align: center;
        letter-spacing: 0px;
        color: #009393;
        opacity: 1;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p.text-header {
        top: 135px;
        left: 576px;
        width: 878px;
        height: 114px;
        text-align: left;
        font: normal normal 600 75px/91px Prompt;
        letter-spacing: 0px;
        color: #009393;
        opacity: 1;
    }

    .btn-id-login {
        top: 328px;
        left: 369px;
        width: 552px;
        height: 456px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 30px #0F6D6E33;
        border-radius: 57px;
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/authen_admin/bt_select_pass.svg);
        background-position: center;
        cursor: pointer;
    }

    .box-text-loading {
        top: 164px;
        left: 960px;
        width: 696px;
        height: 78px;
        text-align: center;
        letter-spacing: 0px;
        color: #F9FAFB;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        /* font-weight: bold; */
        font-size: 51px;

    }

    .gif-loading {
        top: 270px;
        left: 1180px;
        width: 242px;
        height: 265px;
        /* background: #FFFFFF 0% 0% no-repeat padding-box; */
        /* box-shadow: 0px 3px 30px #0F6D6E33; */
        /* border-radius: 57px; */
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/spinner.svg);
        background-position: center;
    }

    .pic-wait {
        top: 664px;
        left: 1100px;
        width: 420px;
        height: 150px;
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/devices/text_check_wait.png);
        background-position: center;
    }

    .pic-bg-loading {
        top: 286px;
        left: 1144px;
        width: 331px;
        height: 331px;
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/devices/icon_loading.svg);
        background-position: center;
    }

    .box-text-wait {
        top: 580px;
        left: 1198px;
        width: 310px;
        height: 51px;
        text-align: center;
        letter-spacing: 0px;
        color: #F9FAFB;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: lighter;
        font-size: 34px;
        cursor: pointer;

    }

    .btn-back {
        top: 884px;
        left: 725px;
        width: 471px;
        height: 107px;
        opacity: 1;
        position: absolute;
        background-image: url(assets/kiosk/bt_back_org.svg);
        background-position: center;
        cursor: pointer;
        background-repeat: no-repeat;
        /* box-shadow: 0px 5px 13px 0px; */
        /* border-radius: 90px; */

    }

    .box-text-back {
        top: 928px;
        left: 887px;
        width: 131px;
        height: 68px;
        text-align: center;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        font-size: 45px;
        cursor: pointer;

    }
    .box-text-cancel {
        top: 164px;
        left: 1140px;
        width: 696px;
        height: 78px;
        text-align: center;
        letter-spacing: 0px;
        color: #F9FAFB;
        opacity: 1;
        position: absolute;
        display: flex;
        font-family: 'Prompt', sans-serif;
        /* font-weight: bold; */
        font-size: 51px;

    }
</style>
<div class="page-content">
    <div class="background-loading"></div>

    <!-- <div class="box-text-header-up">
        สำหรับเจ้าหน้าที่
    </div> -->
    <!-- <div class="logo"></div> -->
    <!-- <div class="box-text-header">
        <p class="text-header">
            {{ activePageTitle }}
        </p>
    </div> -->

    <!-- <div class="btn-id-login" ng-click="LoginBypassword()">
    </div> -->
    <div ng-show="!cancelShow" class="box-text-loading">
        ...กำลังตรวจสอบน้ำหนักของท่าน
    </div>
    <div ng-show="cancelShow" class="box-text-cancel">
        ...กำลังยกเลิก
    </div>
    <div class="gif-loading">
    </div>
    <!-- <div class="pic-bg-loading">
    </div> -->
    <div class="pic-wait">
    </div>
    <!-- <div class="box-text-wait">
            W a i t i n g . . . 
        </div> -->

    <div class="btn-back" ng-show="!cancelShow" ng-click="Cancel()"></div>
    <div class="box-text-back" ng-show="!cancelShow" ng-click="Cancel()">
        ยกเลิก
    </div>

    <audio id="load" src="./assets/kiosk/audio/load_weighing_machines.mp3" preload="auto">

        <!-- <script>
            var sample = document.getElementById("load");
            sample.play();
        </script> -->
</div>